<div class="b-field">
    <label class="form-label">Check List Display Type</label>
    <div class="b-radio-list-inline">
        <div class="radio-item">
            <input type="radio" id="inlineListDisplayType" name="checkListDisplayType" value="check-inline-list"
                ng-model="$.currentField.Settings.CheckListDisplayType">
            <label for="inlineListDisplayType">Inline</label>
        </div>
        <div class="radio-item">
            <input type="radio" id="perlineListDisplayType" name="checkListDisplayType" value="check-perline-list"
                ng-model="$.currentField.Settings.CheckListDisplayType">
            <label for="perlineListDisplayType">Perline</label>
        </div>
    </div>
</div>
<div class="b-field">
    <label class="form-label">Value Field</label>
    <input type="text" ng-model="$.currentField.DataSource.ValueField" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">Text Field</label>
    <input type="text" ng-model="$.currentField.DataSource.TextField" class="b-input form-control" />
</div>