<div class="b-field">
    <label class="form-label">Input Type</label>
    <select ng-model="$.currentField.Settings.InputType" class="b-input form-control" chosen
        inherit-select-classes="true" required>
        <option value=""></option>
        <option value="text">Text</option>
        <option value="number">Number</option>
        <option value="password">Password</option>
        <option value="email">Email</option>
        <option value="search">Search</option>
        <option value="date">Date</option>
        <option value="datetime">Date Time</option>
        <option value="tel">Tel</option>
        <option value="time">Time</option>
    </select>
</div>
<div class="b-field">
    <label class="form-label">Placeholder</label>
    <input type="text" autocomplete="" ng-model="$.currentField.Settings.Placeholder" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">With Icon</label>
    <label class="b-switch d-block">
        <input type="checkbox" hidden="hidden" ng-model="$.currentField.Settings.WithIcon" />
        <div class="slider"></div>
    </label>
</div>
<div ng-if="$.currentField.Settings.WithIcon">
    <div class="b-field">
        <label class="form-label">Icon Position</label>
        <div class="b-radio-list-inline">
            <div class="radio-item">
                <input type="radio" id="leftPosition" name="positionRadio" value="Left"
                    ng-model="$.currentField.Settings.IconPosition">
                <label for="leftPosition">Left</label>
            </div>
            <div class="radio-item">
                <input type="radio" id="rightPosition" name="positionRadio" value="Right"
                    ng-model="$.currentField.Settings.IconPosition">
                <label for="rightPosition">Right</label>
            </div>
        </div>
    </div>
    <div class="b-field">
        <label class="form-label">Font Icon</label>
        <input type="text" ng-model="$.currentField.Settings.FontIcon" class="b-input form-control" />
    </div>
</div>
<div class="b-field">
    <label class="form-label">Min Length</label>
    <input type="number" ng-model="$.currentField.Settings.MinLength" class="b-input form-control"
        placeholder="Field min length" />
</div>
<div class="b-field">
    <label class="form-label">Max Length</label>
    <input type="number" ng-model="$.currentField.Settings.MaxLength" class="b-input form-control"
        placeholder="Field max length" />
</div>
<div class="b-field">
    <label class="form-label">Autocomplete</label>
    <input type="search" ng-model="$.currentField.Settings.Autocomplete" list="autocompletes" class="b-input form-control"
        placeholder="Field max length" />
        <datalist id="autocompletes">
            <option value="off" />
            <option value="on" />
            <option value="username" />
            <option value="name" />
            <option value="family-name" />
            <option value="country-name" />
            <option value="country" />
            <option value="additional-name" />
            <option value="nickname" />
            <option value="street-address" />
            <option value="mobile" />
            <option value="tel" />
            <option value="email" />
            <option value="url" />
            <option value="organization" />
            <option value="transaction-amount" />
            <option value="postal-code" />
            <option value="cc-number" />
            <option value="cc-exp-year" />
            <option value="cc-exp-month" />
            <option value="billing" />
            <option value="sex" />
          </datalist>
</div>
<div class="b-field">
    <label class="form-label">Enter Event</label>
    <select ng-model="$.currentField.Settings.EnterAction" class="b-input form-control" chosen
        inherit-select-classes="true" ng-options="action.ActionID as action.ActionName for action in $.actions">
        <option value="">---None---</option>
    </select>
</div>
<div class="b-field">
    <label class="form-label">Call Button Click</label>
    <select ng-model="$.currentField.Settings.EnterButtonClick" class="b-input form-control" chosen
        inherit-select-classes="true"
        ng-options="field.FieldID as field.FieldName for field in $.fields | filter: {FieldType:'Button'}">
        <option value="">---None---</option>
    </select>
</div>
<div ng-repeat="attr in $.currentField.Settings.Attributes"
    style="padding:10px;margin-bottom:10px;border:solid 1px #ccc;">
    <div class="b-field">
        <div class="col-xs-11">
            <label class="form-label">Attribute Name</label>
            <input type="text" ng-model="attr.Name" class="b-input form-control" />
        </div>
        <div class="col-xs-11">
            <label class="form-label">Attribute Value</label>
            <input type="text" ng-model="attr.Value" class="b-input form-control" />
        </div>
        <div class="col-xs-1">
            <span class="d-flex mt-2 cursor-pointer" ng-click="$.currentField.Settings.Attributes.splice($index,1)">
                <i class="ms-auto codicon codicon-trash"></i>
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="b-field" ng-init="$.currentField.Settings.Attributes=$.currentField.Settings.Attributes||[]">
    <button type="button" class="b-btn btn-action" ng-click="$.currentField.Settings.Attributes.push({})">
        <i class="codicon codicon-plus"></i> Add Attributes
    </button>
</div>