<div class="d-flex">
    <div class="col-7 border-end b-splitter pe-3">
        <div class="b-field">
            <label class="form-label">Input Type</label>
            <select ng-model="$.field.Settings.InputType" class="b-input form-control" chosen inherit-select-classes="true" required>
                <option value=""></option>
                <option value="text">Text</option>
                <option value="number">Number</option>
                <option value="password">Password</option>
                <option value="email">Email</option>
                <option value="search">Search</option>
                <option value="date">Date</option>
                <option value="datetime">Date Time</option>
                <option value="tel">Tel</option>
                <option value="time">Time</option>
            </select>
        </div>
        <div class="b-field">
            <label class="form-label">Placeholder</label>
            <input type="text" ng-model="$.field.Settings.Placeholder" class="b-input form-control" />
        </div>
        <div class="b-field">
            <label class="form-label">Input Css Class</label>
            <input type="text" ng-model="$.field.Settings.InputCssClass" class="b-input form-control" placeholder="Input css class" />
        </div>
    </div>
    <div class="col ps-3">
        <div class="b-field">
            <label class="form-label">Icon Position</label>
            <input type="text" ng-model="$.field.Settings.IconPosition" class="b-input form-control" />
        </div>
        <div class="b-field">
            <label class="form-label">Font Icon</label>
            <input type="text" ng-model="$.field.Settings.FontIcon" class="b-input form-control" />
        </div>
    </div>
</div>