<div class="article-details">
    <div class="row">
        <div class="col-6">
            <div class="slider-pane" data-pane="SliderPane" data-pane-title="Slider Pane"></div>
        </div>
        <div class="col-6">
            <div class="top-info" data-pane="TopInfoPane" data-pane-title="Top Info Pane"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-4" data-pane="LeftPane" data-pane-title="Left Pane"></div>
        <div class="col-4" data-pane="CenterPane" data-pane-title="Center Pane"></div>
        <div class="col-4" data-pane="RightPane" data-pane-title="RightPane"></div>
    </div>
    <div class="row">
        <div class="col12" data-pane="RelatedArticlePane" data-pane-title="Related Article Pane"></div>
    </div>
    <div class="row">
        <div class="col-3" data-pane="BottomPane1" data-pane-title="Bottom Pane 1"></div>
        <div class="col-3" data-pane="BottomPane2" data-pane-title="Bottom Pane 2"></div>
        <div class="col-3" data-pane="BottomPane3" data-pane-title="Bottom Pane 3"></div>
        <div class="col-3" data-pane="BottomPane4" data-pane-title="Bottom Pane 4"></div>
    </div>
    <div class="row">
        <div class="col-12" data-pane="FooterBarPane" data-pane-title="Footer Bar Pane"></div>
    </div>
</div>