<b-right-widget ng-if="$.workingMode=='library-edit'" data-title="Add {{$.library.LibraryName}} Library"
    data-icon="library-group" data-subtitle="Add or edit module custom library" data-await-action="$.awaitAction"
    data-module="$">
    <!------------------------------------>
    <!--Library Info-->
    <!------------------------------------>
    <div class="d-flex">
        <div class="col-5 b-splitter border-end pe-3">
            <div class="b-field">
                <label class="form-label">Library</label>
                <div class="b-input-group">
                    <select id="drpLibraryType" ng-model="$.library.LibraryId" class="b-input form-select"
                        ng-options="l.Id as (l.LibraryName+'-'+l.Version) for l in $.libraries" chosen
                        inherit-select-classes="true" placeholder-text-single="'Select library'"
                        ng-change="$.onLibraryChange()" ng-disabled="$.running" required>
                    </select>
                    <span><i class="codicon codicon-library"></i></span>
                </div>
            </div>
            <div ng-if="$.library.LibraryId">
                <div class="b-field" ng-if="$.library.Logo">
                    <label class="form-label">Logo</label>
                    <div class="image-wrapper" style="width: 5rem;height: 5rem;">
                        <img ng-src="{{$.library.Logo}}" style="width: 100%;" />
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">Version</label>
                    <label class="b-input form-control">{{$.library.Version}}</label>
                </div>
                <div class="b-field">
                    <label class="form-label">Load Order</label>
                    <input type="number" ng-model="$.library.LoadOrder" class="b-input form-control"
                        placeholder="Enter load order" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="col-7 ps-3">
            <div class="b-field mb-2" ng-repeat="resource in $.library.Resources | orderBy: 'LoadOrder'">
                <label class="form-label">Resource Path</label>
                <label class="b-input form-control">{{resource.ResourcePath}}</label>
                <label class="form-label">Resource Type</label>
                <label class="b-input form-control">{{resource.ResourceType}}</label>
                <br>
            </div>
        </div>
    </div>
    <hr class="mb-4" />
    <!------------------------------------>
    <!--Action Buttons-->
    <!------------------------------------>
    <div class="mb-1 d-flex justify-content-end mt-auto">
        <button type="button" class="b-btn btn-text-icon btn-submit me-2" ng-click="$.onSaveLibraryClick($event,true)"
            ng-disabled="$.running">
            <i class="codicon codicon-save" ng-class="{'loading-circle mini':$.running=='save-action'}"></i>
            Save Library
        </button>
        <button type="button" class="b-btn btn-text-icon btn-cancel" ng-click="$.onCancelLibraryClick()"
            ng-disabled="$.running">
            <i class="codicon codicon-circle-slash"></i>
            Cancel
        </button>
    </div>
</b-right-widget>