<div ng-if="scenario" id="bExplorer" class="b-sidebar-explorer"
    ng-class="{'is-awaiting':running == 'refresh-sidebar-explorer-items'}">
    <div ng-if="running == 'refresh-sidebar-explorer-items'" class="loading-frame" style="display: none;"></div>
    <!------------------------------------>
    <!--Explorer Header-->
    <!------------------------------------>
    <div class="header-explorer">
        <!-- Scenario Title -->
        <a class="exp-scenario" ng-click="onItemClick($event,'create-scenario',null,null,scenario?.ScenarioTitle)">
            <i class="codicon codicon-chevron-down exp-arrow-icon"></i> {{scenario?.ScenarioTitle}}
        </a>
        <!-- Explorer Action Items -->
        <div class="exp-actions">
            <a class="action-item" title="Search" ng-click="showHideSearch=!showHideSearch">
                <i class="codicon codicon-search"></i>
            </a>
            <a class="action-item" title="New Group" ng-click="onAddGroupClick()">
                <i class="codicon codicon-new-folder"></i>
            </a>
            <a class="action-item" title="Refresh Explorer Items" ng-click="onRefreshItemsClick()">
                <i class="codicon codicon-refresh"></i>
            </a>
            <a class="action-item" title="Collapse All Items" ng-click="onCollapseAllItemsClick()">
                <i class="codicon codicon-collapse-all"></i>
            </a>
        </div>
        <div class="search-box" ng-class="{'d-none':!showHideSearch}">
            <input type="text" class="search-input" [formControl]="searchFilter" placeholder="Search by title" />
        </div>
    </div>
    <div class="list-explorer b-scrollbar">
        <ul class="exp-items">
            <!------------------------------------>
            <!--Entities-->
            <!------------------------------------>
            <li class="exp-item exp-has-childs exp-entities">
                <a class="exp-label" data-bs-toggle="collapse" data-bs-target="#expEntityItems"
                    ng-class="{'collapsed':!isExpanded('entities','create-entity')}">
                    <i class="codicon codicon-chevron-down exp-arrow-icon"></i>
                    <i class="codicon codicon-combine"></i> Entities
                </a>
                <span class="hover-wrapper">
                    <i class="codicon codicon-plus" ng-click="onItemClick($event,'create-entity')"></i>
                    <i class="codicon codicon-collapse-all" data-bs-toggle="collapse"
                        data-bs-target="#expEntityItems"></i>
                </span>
                <ul class="exp-sub-items collapse" id="expEntityItems" data-items="'entities','create-entity'"
                    ng-class="{'show':searchItem || isExpanded('entities','create-entity')}">
                    <li class="exp-item">
                        <a class="exp-label" (click)="onItemClick('entities')"
                            ng-class="{'active':explorerCurrentItem=='entities'}">
                            <i class="codicon codicon-table"></i> Entities
                        </a>
                    </li>
                    <li class="exp-item">
                        <a class="exp-label" (click)="onItemClick('entities','edit')"
                            ng-class="{'active':explorerCurrentItem=='create-entity'}">
                            <i class="codicon codicon-new-file"></i> New Entity
                        </a>
                    </li>
                    <!------------------------------------>
                    <!--Entity Groups-->
                    <!------------------------------------>
                    <ng-container *ngTemplateOutlet="sidebarExplorerGroup"></ng-container>
                    <!------------------------------------>
                    <!--Entity noGroup Items-->
                    <!------------------------------------>
                    @for (item of items | entities | groupFilter:'null' | filteredItems:searchFilter.value; track
                    item.Id) {
                    <li class="exp-item" id="{{item.Id}}">
                        <a class="exp-label" (click)="onItemClick('entities','edit',[item.Id])"
                            ng-class="{'active':explorerCurrentItem==item.ItemId}">
                            <i class="codicon codicon-table"></i> {{item.Title}}
                        </a>
                    </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>

<ng-template #sidebarExplorerGroup>
    @for (group of groups | groupTypeItems:'Entity'; track group.Id) {
    <li class="exp-item exp-has-childs exp-group">
        <div class="group-actions">
            <a href="" class="action-item" ng-click="$.onDeleteGroupClick(group)">
                <i class="codicon codicon-trash"></i>
            </a>
            <a href="" class="action-item" ng-click="$.onEditGroupClick(group)">
                <i class="codicon codicon-edit"></i>
            </a>
        </div>
        <a class="exp-label" data-bs-toggle="collapse" [attr.data-bs-target]="'#expGroupItems_' + group.Id"
            ng-class="{'collapsed':!$.isExpandedGroup(group)}" data-drop="true">
            <i class="codicon codicon-chevron-down exp-arrow-icon"></i>
            <i class="codicon codicon-folder"></i> {{group.GroupName}}
        </a>
        <ul class="exp-sub-items collapse" id="expGroupItems_{{group.Id}}"
            ng-class="{'show':$.searchItem || $.isExpandedGroup(group)}">
            @for (item of items | entities | groupFilter:group.Id | filteredItems:searchFilter.value; track item.Id) {
            <li class="exp-item" [attr.id]="item.Id">
                <a class="exp-label" ng-click="$.onItemClick($event,group.ObjectType,null,item.ItemId,item.Title)"
                    ng-class="{'active':$.$rootScope.explorerCurrentItem==item.ItemId}">
                    <i class="codicon codicon-table"></i> {{item.Title}}
                </a>
            </li>
            }
        </ul>
    </li>
    }
</ng-template>