<div class="b-field">
    <label class="form-label">Button Type</label>
    <select ng-model="$.currentField.Settings.ButtonType" class="b-input form-select" chosen
        inherit-select-classes="true" required>
        <option value=""></option>
        <option value="button">Standard Button</option>
        <option value="submit">Submit Button</option>
    </select>
</div>
<div class="b-field">
    <label class="form-label">Button Text</label>
    <input type="text" ng-model="$.currentField.Settings.ButtonText" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">With Icon</label>
    <label class="b-switch d-block">
        <input type="checkbox" hidden="hidden" ng-model="$.currentField.Settings.WithIcon" />
        <div class="slider"></div>
    </label>
</div>
<div ng-if="$.currentField.Settings.WithIcon">
    <div class="b-field">
        <label class="form-label">Icon Position</label>
        <div class="b-radio-list-inline">
            <div class="radio-item">
                <input type="radio" id="leftPosition" name="positionRadio" value="Left"
                    ng-model="$.currentField.Settings.IconPosition">
                <label for="leftPosition">Left</label>
            </div>
            <div class="radio-item">
                <input type="radio" id="rightPosition" name="positionRadio" value="Right"
                    ng-model="$.currentField.Settings.IconPosition">
                <label for="rightPosition">Right</label>
            </div>
        </div>
    </div>
    <div class="b-field">
        <label class="form-label">Font Icon</label>
        <input type="text" ng-model="$.currentField.Settings.FontIcon" class="b-input form-control" />
    </div>
</div>
<div class="b-field" ng-if="$.currentField.Settings.ButtonType=='button'">
    <label class="form-label">Validation Groups</label>
    <select ng-model="$.currentField.Settings.ValidationGroups" class="b-input form-select" chosen
        inherit-select-classes="true"
        ng-options="field.Id as field.FieldName for field in $.fields | filter: {IsGroup:true}" multiple required>
        <option value=""></option>
    </select>
</div>
<div class="b-field" ng-if="$.currentField.Settings.ButtonType=='button'">
    <label class="form-label">Validation Panes</label>
    <select ng-model="$.currentField.Settings.ValidationPanes" class="b-input form-select" chosen
        inherit-select-classes="true" ng-options="pane.paneName as pane.paneTitle for pane in $.panes" multiple
        required>
        <option value=""></option>
    </select>
</div>
<div class="b-field">
    <label class="form-label">Loading Css Class</label>
    <input type="text" ng-model="$.currentField.Settings.LoadingCssClass" class="b-input form-control" />
</div>