.b-textarea-group {
    background: var(--T--form-input-background);
    background-color: var(--T--form-input-background-color);
    border: var(--T--form-input-border-style) var(--T--form-input-border-width) var(--T--form-input-border-color);
    border-radius: var(--T--form-input-border-radius);
    box-shadow: var(--T--form-input-box-shadow);
    padding: var(--T--form-input-padding-top) var(--T--form-input-padding-right) var(--T--form-input-padding-bottom) var(--T--form-input-padding-left);
    outline: var(--T--form-input-outline);
    width: var(--T--form-input-width);
    column-gap: var(--T--form-input-column-gap);
}

.b-textarea-group:hover {
    background: var(--T--form-input-hover-background);
    background-color: var(--T--form-input-hover-background-color);
    border-color: var(--T--form-light-background-color);
    box-shadow: var(--T--form-input-hover-box-shadow);
}

.b-textarea-group>.b-textarea-control {
    color: var(--T--form-input-color);
    font-size: var(--T--form-input-font-size);
    font-weight: var(--T--form-input-font-weight);
    line-height: var(--T--form-input-line-height);
}

.b-textarea-group>.b-textarea-icon {
    color: var(--T--form-background-color);
    font-size: var(--T--form-input-icon-font-size);
}

.b-textarea-group:hover>.b-textarea-icon {
    color: var(--T--form-highlight-background-color);
}