<div class="d-flex">
    <div class="col-7 border-end b-splitter pe-3">
        <div class="b-field">
            <label class="form-label">Rows</label>
            <input type="number" ng-model="$.currentField.Settings.Rows" class="b-input form-control"
                placeholder="Textarea rows count" />
        </div>
        <div class="b-field">
            <label class="form-label">Placeholder</label>
            <input type="text" ng-model="$.currentField.Settings.Placeholder" class="b-input form-control" />
        </div>
    </div>
    <div class="col ps-3">
        <div class="b-field">
            <label class="form-label">With Icon</label>
            <label class="b-switch d-block">
                <input type="checkbox" hidden="hidden" ng-model="$.currentField.Settings.WithIcon" />
                <div class="slider"></div>
            </label>
        </div>
        <div ng-class="{'opacity-25':!$.currentField.Settings.WithIcon}">
            <div class="b-field">
                <label class="form-label">Icon Position</label>
                <div class="b-radio-list-inline">
                    <div class="radio-item">
                        <input type="radio" id="leftPosition" name="positionRadio" value="Left"
                            ng-model="$.currentField.Settings.IconPosition"
                            ng-disabled="!$.currentField.Settings.WithIcon">
                        <label for="leftPosition">Left</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="rightPosition" name="positionRadio" value="Right"
                            ng-model="$.currentField.Settings.IconPosition"
                            ng-disabled="!$.currentField.Settings.WithIcon">
                        <label for="rightPosition">Right</label>
                    </div>
                </div>
            </div>
            <div class="b-field">
                <label class="form-label">Font Icon</label>
                <input type="text" ng-model="$.currentField.Settings.FontIcon" class="b-input form-control" />
            </div>
        </div>
    </div>
</div>