<div class="default-form-template">
    <div data-pane="TopPane" data-pane-title="Top Pane"></div>
    <div class="dt-row">
        <div class="left-pane" data-pane="LeftPane" data-pane-title="Left Pane"></div>
        <div class="right-pane" data-pane="RightPane" data-pane-title="Right Pane"></div>
    </div>
    <div class="dt-row">
        <div class="left-4-pane" data-pane="Left4Pane" data-pane-title="Left 4 Pane"></div>
        <div class="right-8-pane" data-pane="Right8Pane" data-pane-title="Right 8 Pane"></div>
    </div>
    <div class="dt-row">
        <div class="left-8-pane" data-pane="Left8Pane" data-pane-title="Left 8 Pane"></div>
        <div class="right-4-pane" data-pane="Right4Pane" data-pane-title="Right 4 Pane"></div>
    </div>
    <div data-pane="ContentPane" data-pane-title="Content Pane"></div>
</div>