<div ng-controller="createDashboardSkinController as $" ng-class="{'was-validated':$.form.validated}">
    <div class="dashboard-skin">
        <!------------------------------------>
        <!--Sidebar-->
        <!------------------------------------>
        <div class="mb-sidebar" b-custom-sidebar="builder">
            <ul class="sidebar-tabs">
                <li class="tab-item" ng-class="{'active':$.currentSidebarTab=='toolbox'}" role="presentation"
                    ng-click="$.onSidebarTabClick('toolbox')" ng-if="$.module.ModuleBuilderType != 1" b-custom-tooltip
                    data-bs-placement="bottom" title="Components Toolbox">
                    <a class="item-link" role="button">
                        <i class="codicon codicon-extensions"></i>
                    </a>
                </li>
                <li class="tab-item" ng-class="{'active':$.currentSidebarTab=='field-settings'}" role="presentation"
                    ng-click="$.onSidebarTabClick('field-settings')" ng-if="$.module.ModuleBuilderType != 1"
                    b-custom-tooltip data-bs-placement="bottom" title="Current Field Settings">
                    <a class="item-link" role="button">
                        <i class="codicon codicon-settings-gear"></i>
                    </a>
                </li>
                <li class="tab-item" ng-class="{'active':$.currentSidebarTab=='filter-components'}" role="presentation"
                    ng-click="$.onSidebarTabClick('filter-components')" b-custom-tooltip data-bs-placement="bottom"
                    title="Filter Fields">
                    <a class="item-link" role="button">
                        <i class="codicon codicon-filter"></i>
                    </a>
                </li>
                <li class="tab-item" ng-class="{'active':$.currentSidebarTab=='actions'}" role="presentation"
                    ng-click="$.onSidebarTabClick('actions')" b-custom-tooltip data-bs-placement="bottom"
                    title="Current Field | Module Actions">
                    <a class="item-link" role="button">
                        <i class="codicon codicon-github-action"></i>
                    </a>
                </li>
            </ul>
            <div class="search-box">
                <input type="text" class="search-input" ng-model="$.searchComponent"
                    placeholder="Search field type by title" ng-disabled="$.currentSidebarTab!=='toolbox'"
                    ng-class="{'opacity-25':$.currentSidebarTab!=='toolbox'}" autocomplete="off" />
                <i class="codicon"
                    ng-class="{'codicon-collapse-all':!$.collapsedComponentGroups,'codicon-expand-all':$.collapsedComponentGroups}"
                    ng-click="$.collapsedComponentGroups=!$.collapsedComponentGroups"></i>
            </div>
            <div class="tab-contents b-scrollbar">
                <!------------------------------------>
                <!--Skin List Tab-->
                <!------------------------------------>
                <div class="tab-content" ng-if="$.currentSidebarTab=='toolbox'">
                    <div class="skins">
                        <div ng-repeat="skin in $.skins" class="skin-item" ng-class="{'active':$.dashboard.Skin===skin.SkinName}">
                            <label class="b-btn btn-text-icon btn-action skin-name">
                                <i class="codicon codicon-activate-breakpoints"></i>
                                {{skin.SkinName}}
                            </label>
                            <div class="image-wrapper">
                                <img ng-src="{{skin.SkinImage}}">
                            </div>
                            <button type="button" class="btn-apply" role="button" ng-click="$.onSelectSkinClick(skin)"
                                title="Apply This Skin" b-custom-tooltip data-bs-placement="right">
                                <i class="codicon codicon-check-all"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------>
        <!--Not Selected Template-->
        <!------------------------------------>
        <div class="not-selected-skin" ng-class="{'spin':$.running=='get-skin'}" ng-if="!$.skin">
            <i class="codicon codicon-terminal-debian"></i>
        </div>
        <!------------------------------------>
        <!--Skin Wrapper-->
        <!------------------------------------>
        <div class="skin-content" ng-if="$.skin">
            <div class="skin-templates">
                <div class="template-item" ng-class="{'active':$.dashboard.Template===template.TemplateName}"
                    ng-repeat="template in $.skin.Templates" ng-click="$.onTemplateClick(template)">
                    <div class="image-wrapper">
                        <img ng-src="{{template.TemplateImage}}" />
                    </div>
                    <label class="template-name">{{template.TemplateName}}</label>
                </div>
            </div>
            <div class="skin-preview">
                <img ng-src="{{$.template.TemplateImage}}" />
            </div>
        </div>
    </div>
    <hr class="mb-4" />
    <!------------------------------------>
    <!--Wizard Step Action Buttons-->
    <!------------------------------------>
    <div class="d-flex mb-2 mt-auto b-splitter border-top pt-3 mb-4">
        <div class="justify-content-start">
            <!-- Previous Button -->
            <button type="button" class="b-btn btn-danger me-2" ng-click="$.onPreviousStepClick()"
                ng-disabled="$.running">
                <i class="codicon codicon-arrow-left me-0"></i>
            </button>
            <!-- Next Button -->
            <button type="button" class="b-btn btn-blue me-2" ng-click="$.onNextStepClick()" ng-disabled="$.running">
                <i class="codicon codicon-arrow-right me-0"></i>
            </button>
        </div>
        <div class="d-flex justify-content-end ms-auto">
            <button type="button" class="b-btn btn-text-icon btn-icon btn-submit me-2"
                ng-click="$.onSaveDashboardSkinClick()" ng-disabled="$.running">
                <i class="codicon codicon-save" ng-class="{ 'loading-circle mini':$.running=='save-skin' }"></i>
                Save Dashboard Skin
            </button>
            <button type="button" class="b-btn btn-text-icon btn-cancel" ng-click="$.onCancelModuleClick()"
                ng-disabled="$.running">
                <i class="codicon codicon-circle-slash"></i>
                Cancel
            </button>
        </div>
    </div>
</div>