<div class="nitro-I-form-Template">
    <div class="header-widget">
        <div class="n-row">
            <div class="pane-5" data-pane="HeaderTitlePane" data-pane-title="Header Title Pane"></div>
            <div class="pane-7" data-pane="HeaderActionsPane" data-pane-title="Header Actions Pane"></div>
        </div>
        <div class="n-row">
            <div class="pane-6" data-pane="Header6StartPane" data-pane-title="Header 6 Start Pane"></div>
            <div class="pane-6" data-pane="Header6EndPane" data-pane-title="Header 6 End Pane"></div>
        </div>
        <div class="header-bottom" data-pane="HeaderBottomPane" data-pane-title="Header Bottom Pane"></div>
    </div>
    <div class="body-widget">
        <div data-pane="TopPane" data-pane-title="Top Pane"></div>
        <div class="n-row">
            <div class="pane-6" data-pane="LeftPane" data-pane-title="Left Pane"></div>
            <div class="pane-6" data-pane="RightPane" data-pane-title="Right Pane"></div>
        </div>
        <div class="n-row">
            <div class="pane-4" data-pane="Left4Pane" data-pane-title="Left 4 Pane"></div>
            <div class="pane-8" data-pane="Right8Pane" data-pane-title="Right 8 Pane"></div>
        </div>
        <div data-pane="ContentPane" data-pane-title="Content Pane"></div>
        <div class="n-row">
            <div class="pane-8" data-pane="Left8Pane" data-pane-title="Left 8 Pane"></div>
            <div class="pane-4" data-pane="Right4Pane" data-pane-title="Right 4 Pane"></div>
        </div>
        <div class="n-row">
            <div class="pane-3" data-pane="Left3Pane" data-pane-title="Left 3 Pane"></div>
            <div class="pane-9" data-pane="Right9Pane" data-pane-title="Right 9 Pane"></div>
        </div>
        <div class="n-row">
            <div class="pane-9" data-pane="Left9Pane" data-pane-title="Left 9 Pane"></div>
            <div class="pane-3" data-pane="Right3Pane" data-pane-title="Right 3 Pane"></div>
        </div>
        <div data-pane="BottomPane" data-pane-title="Bottom Pane"></div>
    </div>
    <div class="footer-widget">
        <div class="message-pane" data-pane="MessagePane" data-pane-title="Message Pane"></div>
        <div class="n-row">
            <div class="pane-6" data-pane="FooterLeftPane" data-pane-title="Footer Left Pane"></div>
            <div class="pane-6-" data-pane="FooterRightPane" data-pane-title="Footer Right Pane"></div>
        </div>
        <div class="footer-pane" data-pane="MessagePane" data-pane-title="Footer Pane"></div>
    </div>
</div>