<div ng-if="$.$rootScope.scenario" id="bExplorer" class="b-sidebar-explorer"
    ng-class="{'is-awaiting':$.running == 'refresh-sidebar-explorer-items'}">
    <div ng-if="$.running == 'refresh-sidebar-explorer-items'" class="loading-frame"></div>
    <!------------------------------------>
    <!--Explorer Header-->
    <!------------------------------------>
    <div class="header-explorer">
        <!-- Scenario Title -->
        <a class="exp-scenario"
            ng-click="$.onItemClick($event,'create-scenario',null,null,$.$rootScope.scenario.ScenarioTitle)">
            <i class="codicon codicon-chevron-down exp-arrow-icon"></i> {{$.$rootScope.scenario.ScenarioTitle}}
        </a>
        <!-- Explorer Action Items -->
        <div class="exp-actions">
            <a class="action-item" title="Search" b-custom-tooltip data-bs-placement="bottom"
                ng-click="$.showHideSearch=!$.showHideSearch">
                <i class="codicon codicon-search"></i>
            </a>
            <a class="action-item" title="New Group" b-custom-tooltip data-bs-placement="bottom"
                ng-click="$.onAddGroupClick()">
                <i class="codicon codicon-new-folder"></i>
            </a>
            <a class="action-item" title="Refresh Explorer Items" b-custom-tooltip data-bs-placement="bottom"
                ng-click="$.onRefreshItemsClick()">
                <i class="codicon codicon-refresh"></i>
            </a>
            <a class="action-item" title="Collapse All Items" b-custom-tooltip data-bs-placement="bottom"
                ng-click="$.onCollapseAllItemsClick()">
                <i class="codicon codicon-collapse-all"></i>
            </a>
        </div>
        <div class="search-box" ng-class="{'d-none':!$.showHideSearch}">
            <input type="text" class="search-input" ng-model="$.searchItem" placeholder="Search by title" />
        </div>
    </div>
    <div class="list-explorer b-scrollbar">
        <ul class="exp-items">
            <!------------------------------------>
            <!--Entities-->
            <!------------------------------------>
            <li class="exp-item exp-has-childs exp-entities">
                <a class="exp-label" data-bs-toggle="collapse" data-bs-target="#expEntityItems"
                    ng-class="{'collapsed':!$.isExpanded('entities','create-entity')}"
                    jqyoui-droppable="{onOver:'$.onItemDragOver()',onOut:'$.onItemDragOut()',onDrop:'$.onItemDrop(null)'}"
                    data-drop="true" data-type="Entity">
                    <i class="codicon codicon-chevron-down exp-arrow-icon"></i>
                    <i class="codicon codicon-combine"></i> Entities
                </a>
                <span class="hover-wrapper">
                    <i class="codicon codicon-plus" ng-click="$.onItemClick($event,'create-entity')"></i>
                    <i class="codicon codicon-collapse-all" data-bs-toggle="collapse"
                        data-bs-target="#expEntityItems"></i>
                </span>
                <ul class="exp-sub-items collapse" id="expEntityItems" data-items="'entities','create-entity'"
                    ng-class="{'show':$.searchItem || $.isExpanded('entities','create-entity')}">
                    <li class="exp-item">
                        <a class="exp-label" ng-click="$.onItemClick($event,'entities')"
                            ng-class="{'active':$.$rootScope.explorerCurrentItem=='entities'}">
                            <i class="codicon codicon-table"></i> Entities
                        </a>
                    </li>
                    <li class="exp-item">
                        <a class="exp-label" ng-click="$.onItemClick($event,'create-entity')"
                            ng-class="{'active':$.$rootScope.explorerCurrentItem=='create-entity'}">
                            <i class="codicon codicon-new-file"></i> New Entity
                        </a>
                    </li>
                    <!------------------------------------>
                    <!--Entity Groups-->
                    <!------------------------------------>
                    <li class="exp-item exp-has-childs exp-group"
                        ng-repeat="group in $.$rootScope.groups | orderBy:'GroupName' | filter:{ObjectType:'Entity'}"
                        ng-include="'sidebarExplorerGroup.html'"></li>
                    <!------------------------------------>
                    <!--Entity noGroup Items-->
                    <!------------------------------------>
                    <li class="exp-item" id="{{item.ItemId}}"
                        ng-repeat="item in $.entities | filter:{GroupId:null} | fuzzyBy: 'Title': $.searchItem">
                        <a class="exp-label"
                            ng-click="$.onItemClick($event,'create-entity',null,item.ItemId,item.Title)"
                            ng-class="{'active':$.$rootScope.explorerCurrentItem==item.ItemId}"
                            jqyoui-draggable="{animate:true,onDrag:'$.onDrag()',onStop:'$.onStopDrag($index)'}"
                            jqyoui-options="{revert: 'invalid'}" data-drag="true" data-item="{{item.ItemId}}"
                            data-type="Entity">
                            <i class="codicon codicon-table"></i> {{item.Title}}
                        </a>
                    </li>
                </ul>
            </li>
            <!------------------------------------>
            <!--App Models-->
            <!------------------------------------>
            <li class="exp-item exp-has-childs exp-app-models">
                <a class="exp-label collapsed" data-bs-toggle="collapse" data-bs-target="#expAppModelItems"
                    ng-class="{'collapsed':!$.isExpanded('app-models','create-app-model')}" data-drop="true"
                    jqyoui-droppable="{onOver:'$.onItemDragOver()',onOut:'$.onItemDragOut()',onDrop:'$.onItemDrop(null)'}"
                    data-type="AppModel">
                    <i class="codicon codicon-chevron-down exp-arrow-icon"></i>
                    <i class="codicon codicon-references"></i> App Models
                </a>
                <span class="hover-wrapper">
                    <i class="codicon codicon-plus" ng-click="$.onItemClick($event,'create-app-model')"></i>
                    <i class="codicon codicon-collapse-all" data-bs-toggle="collapse"
                        data-bs-target="#expAppModelItems"></i>
                </span>
                <ul class="exp-sub-items collapse" id="expAppModelItems" data-items="'app-models','create-app-model'"
                    ng-class="{'show':$.searchItem || $.isExpanded('app-models','create-app-model')}">
                    <li class="exp-item">
                        <a class="exp-label" ng-click="$.onItemClick($event,'app-models')"
                            ng-class="{'active':$.$rootScope.explorerCurrentItem=='app-models'}">
                            <i class="codicon codicon-table"></i> App Models
                        </a>
                    </li>
                    <li class="exp-item">
                        <a class="exp-label" ng-click="$.onItemClick($event,'create-app-model')"
                            ng-class="{'active':$.$rootScope.explorerCurrentItem=='create-app-model'}">
                            <i class="codicon codicon-new-file"></i> New App Model
                        </a>
                    </li>
                    <!------------------------------------>
                    <!--App Model Groups-->
                    <!------------------------------------>
                    <li class="exp-item exp-has-childs exp-group"
                        ng-repeat="group in $.$rootScope.groups | orderBy:'ViewOrder' | filter:{ObjectType:'AppModel'}"
                        ng-include="'sidebarExplorerGroup.html'"></li>
                    <!------------------------------------>
                    <!--App Model noGroup Items-->
                    <!------------------------------------>
                    <li class="exp-item" id="{{item.ItemId}}"
                        ng-repeat="item in $.appModels | fuzzyBy: 'Title': $.searchItem | filter:{GroupId:null}">
                        <a class="exp-label"
                            ng-click="$.onItemClick($event,'create-app-model',null,item.ItemId,item.Title)"
                            ng-class="{'active':$.$rootScope.explorerCurrentItem==item.ItemId}"
                            jqyoui-draggable="{animate:true,onDrag:'$.onDrag()',onStop:'$.onStopDrag($index)'}"
                            jqyoui-options="{revert: 'invalid'}" data-drag="true" data-item="{{item.ItemId}}"
                            data-type="AppModel">
                            <i class="codicon codicon-output"></i> {{item.Title}}
                        </a>
                    </li>
                </ul>
            </li>
            <!------------------------------------>
            <!--Services-->
            <!------------------------------------>
            <li class="exp-item exp-has-childs exp-services">
                <a class="exp-label collapsed" data-bs-toggle="collapse" data-bs-target="#expServiceItems"
                    ng-class="{'collapsed':!$.searchItem && !$.isExpanded('services','create-service')}"
                    data-drop="true"
                    jqyoui-droppable="{onOver:'$.onItemDragOver()',onOut:'$.onItemDragOut()',onDrop:'$.onItemDrop(null)'}"
                    data-type="Service">
                    <i class="codicon codicon-chevron-down exp-arrow-icon"></i>
                    <i class="codicon codicon-versions"></i> Services
                </a>
                <span class="hover-wrapper">
                    <i class="codicon codicon-plus" ng-click="$.onItemClick($event,'create-service')"></i>
                    <i class="codicon codicon-collapse-all" data-bs-toggle="collapse"
                        data-bs-target="#expServiceItems"></i>
                </span>
                <ul class="exp-sub-items collapse" id="expServiceItems" data-items="'services','create-service'"
                    ng-class="{'show':$.searchItem || $.isExpanded('services','create-service')}">
                    <li class="exp-item">
                        <a class="exp-label" ng-click="$.onItemClick($event,'services')"
                            ng-class="{'active':$.$rootScope.explorerCurrentItem=='services'}">
                            <i class="codicon codicon-versions"></i> Services
                        </a>
                    </li>
                    <li class="exp-item">
                        <a class="exp-label" ng-click="$.onItemClick($event,'create-service')"
                            ng-class="{'active':$.$rootScope.explorerCurrentItem=='create-service'}">
                            <i class="codicon codicon-new-file"></i> New Service
                        </a>
                    </li>
                    <!------------------------------------>
                    <!--Service Groups-->
                    <!------------------------------------>
                    <li class="exp-item exp-has-childs exp-group"
                        ng-repeat="group in $.$rootScope.groups | orderBy:'ViewOrder' | filter:{ObjectType:'Service'}"
                        ng-include="'sidebarExplorerGroup.html'"></li>
                    <!------------------------------------>
                    <!--Service noGroup Items-->
                    <!------------------------------------>
                    <li class="exp-item" id="{{item.ItemId}}"
                        ng-repeat="item in $.services | fuzzyBy: 'Title': $.searchItem | filter:{GroupId:null}">
                        <a class="exp-label"
                            ng-click="$.onItemClick($event,'create-service',null,item.ItemId,item.Title)"
                            ng-class="{'active':$.$rootScope.explorerCurrentItem==item.ItemId}"
                            jqyoui-draggable="{animate:true,onDrag:'$.onDrag()',onStop:'$.onStopDrag($index)'}"
                            jqyoui-options="{revert: 'invalid'}" data-drag="true" data-item="{{item.ItemId}}"
                            data-type="Service">
                            <i class="codicon codicon-ruby"></i> {{item.Title}}
                        </a>
                    </li>
                </ul>
            </li>
            <!------------------------------------>
            <!--Modules-->
            <!------------------------------------>
            <li class="exp-item exp-has-childs exp-modules" ng-if="$.modules.length"
                ng-class="{'collapsed':!$.isExpanded('modules')}">
                <a class="exp-label collapsed" data-bs-toggle="collapse" data-bs-target="#expModuleItems">
                    <i class="codicon codicon-chevron-down exp-arrow-icon"></i>
                    <i class="codicon codicon-multiple-windows"></i> Modules
                </a>
                <span class="hover-wrapper">
                    <i class="codicon codicon-collapse-all" data-bs-toggle="collapse"
                        data-bs-target="#expModuleItems"></i>
                </span>
                <ul class="exp-sub-items collapse" id="expModuleItems"
                    ng-class="{'show':$.searchItem || $.isExpanded('modules')}">
                    <li class="exp-item" ng-if="$.newModule">
                        <a class="exp-label active">
                            <i class="codicon codicon-empty-window"></i> New Module
                        </a>
                    </li>
                    <li class="exp-item" ng-repeat="item in $.modules | fuzzyBy: 'Title': $.searchItem">
                        <a class="exp-label" ng-class="{'active':$.$rootScope.explorerCurrentItem==item.ItemId}"
                            ng-click="$.onItemClick($event,'create-module',null,item.ItemId,item.Title)">
                            <i class="codicon codicon-window"></i> {{item.Title}}
                        </a>
                    </li>
                </ul>
            </li>
            <!------------------------------------>
            <!--Providers -->
            <!------------------------------------>
            <li class="exp-item exp-has-childs exp-providers" ng-if="$.providers.length"
                ng-class="{'collapsed':!$.isExpanded('providers')}">
                <a class="exp-label collapsed" data-bs-toggle="collapse" data-bs-target="#expProviderItems">
                    <i class="codicon codicon-chevron-down exp-arrow-icon"></i>
                    <i class="codicon codicon-azure"></i> Providers
                </a>
                <span class="hover-wrapper">
                    <i class="codicon codicon-collapse-all" data-bs-toggle="collapse"
                        data-bs-target="#expProviderItems"></i>
                </span>
                <ul class="exp-sub-items collapse" id="expProviderItems"
                    ng-class="{'show':$.searchItem || $.isExpanded('providers')}">
                    <li class="exp-item">
                        <a class="exp-label" ng-click="$.onItemClick($event,'create-provider')"
                            ng-class="{'active':$.$rootScope.explorerCurrentItem=='create-provider'}">
                            <i class="codicon codicon-empty-window"></i> New Provider
                        </a>
                    </li>
                    <li class="exp-item" ng-repeat="item in $.providers | fuzzyBy: 'Title': $.searchItem">
                        <a class="exp-label collapsed" data-bs-toggle="collapse"
                            data-bs-target="#expProviderItem{{$index}}">
                            <i class="codicon codicon-chevron-down exp-arrow-icon"></i>
                            <i class="codicon codicon-briefcase"></i> {{item.Title}}
                        </a>
                        <ul class="exp-sub-items collapse" id="expProviderItem{{$index}}"
                            ng-class="{'show':$.isExpanded(item.ItemId)}">
                            <li class="exp-item" id="provider-settings-{{item.ItemId}}">
                                <a class="exp-label"
                                    ng-click="$.onItemClick($event,'provider-settings',null,item.ItemId,item.Title)"
                                    ng-class="{'active':$.$rootScope.explorerCurrentItem=='provider-settings-'+item.ItemId}">
                                    <i class="codicon codicon-server-process"></i> Provider Settings
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!------------------------------------>
<!--Edit Group Modal-->
<!------------------------------------>
<div class="modal fade b-modal-dark" b-custom-modal tabindex="-1" id="wnEditGroup"
    ng-class="{'was-validated':$.groupForm.validated}" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    ng-disabled="$.running"></button>
            </div>
            <div class="modal-body">
                <div class="b-field">
                    <label class="form-label">Group Type</label>
                    <div class="b-input-group">
                        <select id="drpGroupType" ng-model="$.group.ObjectType" class="b-input form-select"
                            ng-disabled="$.group.Id || $.running" chosen inherit-select-classes="true"
                            placeholder-text-single="'Select group type'" required>
                            <option value="Entity">Entity</option>
                            <option value="AppModel">App Model</option>
                            <option value="Service">Service</option>
                        </select>
                        <span><i class="codicon codicon-activate-breakpoints"></i></span>
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">Group Name</label>
                    <div class="b-input-group">
                        <input type="text" id="txtGroupName" class="b-input form-control" ng-model="$.group.GroupName"
                            placeholder="Enter group name" required />
                        <span><i class="codicon codicon-gear"></i></span>
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">Description</label>
                    <div class="b-input-group">
                        <textarea type="text" class="b-input form-control" ng-model="$.group.Description"
                            placeholder="Enter group description" rows="2"></textarea>
                        <span><i class="codicon codicon-gear"></i></span>
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">View Order</label>
                    <div class="b-input-group">
                        <input type="number" class="b-input form-control" ng-model="$.group.ViewOrder"
                            placeholder="Enter group order(for sorting groups list)" />
                        <span><i class="codicon codicon-gear"></i></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    ng-disabled="$.running">Close</button>
                <button type="button" class="btn btn-primary" ng-click="$.onSaveGroupClick()"
                    ng-disabled="$.running">Save Group</button>
            </div>
        </div>
    </div>
</div>

<!------------------------------------>
<!--Group Script Template-->
<!------------------------------------>
<script type="text/ng-template" id="sidebarExplorerGroup.html">
    <div class="group-actions">
        <a href="" class="action-item" ng-click="$.onDeleteGroupClick(group)">
            <i class="codicon codicon-trash"></i>
        </a>
        <a href="" class="action-item" ng-click="$.onEditGroupClick(group)">
            <i class="codicon codicon-edit"></i>
        </a>
    </div>
    <a class="exp-label" data-bs-toggle="collapse" data-bs-target="#expGroupItems_{{group.Id}}" ng-class="{'collapsed':!$.isExpandedGroup(group)}" data-drop="true" jqyoui-droppable="{onOver:'$.onItemDragOver()',onOut:'$.onItemDragOut()',onDrop:'$.onItemDrop(group)'}"
        title="{{group.Description}}" data-type="{{group.ObjectType}}">
        <i class="codicon codicon-chevron-down exp-arrow-icon"></i>
        <i class="codicon codicon-folder"></i> {{group.GroupName}}
    </a>
    <ul class="exp-sub-items collapse" id="expGroupItems_{{group.Id}}" ng-class="{'show':$.searchItem || $.isExpandedGroup(group)}">
        <li class="exp-item" id="{{item.ItemId}}" ng-repeat="item in group.Items | fuzzyBy: 'Title': $.searchItem | orderBy:'ViewOrder'" ng-if="item.GroupId">
            <a class="exp-label" ng-click="$.onItemClick($event,group.ObjectType,null,item.ItemId,item.Title)" ng-class="{'active':$.$rootScope.explorerCurrentItem==item.ItemId}" jqyoui-draggable="{animate:true,onDrag:'$.onDrag()',onStop:'$.onStopDrag($index)'}"
                jqyoui-options="{revert: 'invalid'}" data-drag="true" data-item="{{item.ItemId}}" data-type="{{group.ObjectType}}">
                <i class="codicon codicon-table"></i> {{item.Title}}
            </a>
        </li>
    </ul>
</script>