<div ng-controller="createDashboardController as $" class="create-dashboard">
    <div class="wizard-boja">
        <div class="wz-steps">
            <div class="wz-step" ng-class="{'active':$.step==1,'disabled':$.running}">
                <div class="box" role="button" ng-click="$.onStepClick(1,true,$event)">
                    <span class="step-number">1</span>
                    <i class="codicon codicon-credit-card"></i>
                </div>
                <div class="step-title-wrapper">
                    <span class="word1">Dashboard</span>
                    <span class="word2">Options</span>
                </div>
            </div>
            <div class="wz-step" ng-class="{'active':$.step==2,'disabled':$.running}">
                <div class="box" role="button" ng-click="$.onStepClick(2,true,$event)">
                    <span class="step-number">2</span>
                    <i class="codicon codicon-coffee"></i>
                </div>
                <div class="step-title-wrapper">
                    <span class="word1">Dashboard</span>
                    <span class="word2">Skin</span>
                </div>
            </div>
            <div class="wz-step" ng-class="{'active':$.step==3,'disabled':$.running}">
                <div class="box" role="button" ng-click="$.onStepClick(3,true,$event)">
                    <span class="step-number">3</span>
                    <i class="codicon codicon-gear"></i>
                </div>
                <div class="step-title-wrapper">
                    <span class="word1">Dashboard</span>
                    <span class="word2">Pages</span>
                </div>
            </div>
            <div class="wz-step" ng-class="{'active':$.step==4,'disabled':$.running}">
                <div class="box" role="button" ng-click="$.onStepClick(4,true,$event)">
                    <span class="step-number">4</span>
                    <i class="codicon codicon-notebook-template"></i>
                </div>
                <div class="step-title-wrapper">
                    <span class="word1">Dashboard</span>
                    <span class="word2">Preview</span>
                </div>
            </div>
        </div>
        <div class="step-contents">
            <div ng-show="$.step==1" ng-if="$.$rootScope.createDashboardValidatedStep.indexOf(1)>=0"
                ng-include="$.basicOptionsTemplate"></div>
            <div ng-show="$.step==2" ng-if="$.$rootScope.createDashboardValidatedStep.indexOf(2)>=0"
                ng-include="$.skinTemplate"></div>
            <div ng-show="$.step==3" ng-if="$.$rootScope.createDashboardValidatedStep.indexOf(3)>=0"
                ng-include="$.pagesTemplate"></div>
            <div ng-show="$.step==444444" ng-if="$.$rootScope.createDashboardValidatedStep.indexOf(444444)>=0"
                ng-include="$.modulesTemplate444444"></div>
        </div>
    </div>
</div>