<div ng-controller="createGroupController as $" class="create-group" ng-class="{'was-validated':$.form.validated}">
    <!------------------------------------>
    <!-- Edit Info -->
    <!------------------------------------>
    <div class="b-field">
        <label class="form-label">Group Type</label>
        <div class="b-input-group">
            <select id="drpGroupType" ng-model="$.group.GroupType" class="b-input form-select"
                ng-disabled="$.group.Id || $.running" chosen inherit-select-classes="true"
                placeholder-text-single="'Select group type'" required>
                <option value="Entity">Entity</option>
                <option value="AppModel">App Model</option>
                <option value="Service">Service</option>
            </select>
            <span><i class="codicon codicon-layers"></i></span>
        </div>
    </div>
    <div class="b-field">
        <label class="form-label">Group Name</label>
        <div class="b-input-group">
            <input type="text" id="txtGroupName" class="b-input form-control" ng-model="$.group.GroupName"
                placeholder="Enter group name" required />
            <span><i class="codicon codicon-symbol-parameter"></i></span>
        </div>
    </div>
    <div class="b-field">
        <label class="form-label">Description</label>
        <div class="b-input-group">
            <textarea type="text" class="b-input form-control" ng-model="$.group.Description"
                placeholder="Enter group description" rows="2"></textarea>
            <span><i class="codicon codicon-symbol-constant"></i></span>
        </div>
    </div>
    <div class="b-field">
        <label class="form-label">View Order</label>
        <div class="b-input-group">
            <input type="number" class="b-input form-control" ng-model="$.group.ViewOrder"
                placeholder="Enter group order(for sorting groups list)" />
            <span><i class="codicon codicon-list-ordered"></i></span>
        </div>
    </div>
    <hr>
    <!------------------------------------>
    <!-- Buttons -->
    <!------------------------------------>
    <div class="d-flex justify-content-end w-100">
        <button type="button" class="b-btn btn-red-lite me-auto" ng-click="$.onDeleteGroupClick()"
            ng-disabled="!$.group.Id || $.running">
            <i class="codicon codicon-trash"></i>
        </button>
        <button type="button" class="b-btn btn-text-icon btn-submit me-2" ng-click="$.onSaveGroupClick()"
            ng-disabled="$.running">
            <i class="codicon codicon-save"></i>
            Save Group
        </button>
        <button type="button" class="b-btn btn-text-icon btn-cancel" data-bs-dismiss="modal">
            <i class="codicon codicon-circle-slash"></i>
            Cancel
        </button>
    </div>
</div>