<div class="nitro-I-dashboard-dnn">
    <div class="dashboard__sidebar">
        <div class="user__section">
            <div class="user__profile__wrapper">
                <img ng-src="{{$.UserPhoto}}" />
            </div>
            <h6 class="user__displayname">{{$.userDisplayName}}</h6>
        </div>
        <div class="sidebar__menu" data-pane="SidebarMenu" data-pane-title="Sidebar Menu Pane"></div>
    </div>
    <div class="dashboard__content">
        <div class="top__bar" data-pane="TopBar" data-pane-title="Top Bar Pane"></div>
        <div class="content__pane" data-pane="ContentPane" data-pane-title="Content Pane"></div>
        <div class="dashboard__module" id="dashboardPageModule"></div>
    </div>
</div>