.nitro-I-dashboard-dnn {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 14px;
}

.nitro-I-dashboard-dnn .dashboard__sidebar {
    width: 20em;
    margin-right: 1em;
    background-image: linear-gradient(195deg, #42424a, #191919);
    border-radius: .75rem;
    transition: all .2s ease-in-out;
    padding: .8em;
    color: #fff;
    margin-bottom: 2em;
}

.nitro-I-dashboard-dnn .dashboard__sidebar .sidebar__menu .menu-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nitro-I-dashboard-dnn .dashboard__sidebar .sidebar__menu ul.menu-nav>li>a {
    display: block;
    padding: .5em 1em;
    font-size: 1.1em;
    font-weight: 400;
    text-decoration: none;
}

.nitro-I-dashboard-dnn .dashboard__sidebar .sidebar__menu ul.menu-nav>li.active>a {
    background-image: linear-gradient(195deg,#66bb6a,#43a047);
    border-radius: .375rem;
    font-weight: 700;
}

.nitro-I-dashboard-dnn .dashboard__sidebar .user__section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1em;
    padding-bottom: 1.1em;
}

.nitro-I-dashboard-dnn .dashboard__sidebar .user__section:after {
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff, hsla(0, 0%, 100%, 0));
    content: "";
    width: 100%;
    display: block;
    height: .024em;
    background-color: transparent;
    opacity: .25;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nitro-I-dashboard-dnn .dashboard__sidebar .user__section .user__profile__wrapper {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1em;
}

.nitro-I-dashboard-dnn .dashboard__sidebar .user__section .user__profile__wrapper>img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nitro-I-dashboard-dnn .dashboard__sidebar .user__section  .user__displayname {
    display: inline-grid;
    color: #eee;
}

.nitro-I-dashboard-dnn 
 .dashboard__content {
    position: relative;
    flex: 1;
}

.nitro-I-dashboard-dnn .dashboard__content .top__bar {
    transition: box-shadow .25s ease-in, background-color .25s ease-in;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: .6em;
    background-color: #f0f2f5;
    margin-bottom: 1.5rem;
    height: 4em;
    border: solid .1em #e3e5e7;
    width: 100%;
}