<div ng-controller="createModuleCreateActionController as $" class="create-action"
    ng-class="{'was-validated':$.form.validated}">
    <b-content-widget data-title="Create Action" data-icon="table" data-module-type="create-action"
        data-subtitle="Add or edit scenario action" data-await-action="$.awaitAction" data-module="$"
        data-reload-method="onPageLoad" data-close-method="onCloseWindow">
        <!------------------------------------>
        <!--Create Action Wizard-->
        <!------------------------------------>
        <div class="wizard-steps artin">
            <div class="wz-steps">
                <div class="wz-step" ng-click="$.onStepClick(1,$event)"
                    ng-class="{'disabled':$.running,'active':$.step==1}"> <span></span>
                    Action Type
                </div>
                <div class="wz-step" ng-click="$.onStepClick(2,$event)"
                    ng-class="{'disabled':$.running || $.stepsValid<2,'active':$.step==2 }"><span></span>
                    Action Info
                </div>
                <div class="wz-step" ng-click="$.onStepClick(3,$event)"
                    ng-class="{'disabled':$.running || $.stepsValid<4,'active':$.step==3}"><span></span>
                    Action Builder
                </div>
                <div class="wz-step" ng-click="$.onStepClick(4,$event)"
                    ng-class="{'disabled':$.running || $.stepsValid<6,'active':$.step==4}"><span></span>
                    Result & Conditions
                </div>
            </div>
            <div class="step-content">
                <!------------------------------------>
                <!--Wizard Step 1 (Select Action Subtype)-->
                <!------------------------------------>
                <div ng-if="$.step==1">
                    <!--Is Client Side Action-->
                    <div class="b-field">
                        <div class="form-label">Execute In Client Side</div>
                        <label class="b-switch">
                            <input type="checkbox" ng-model="$.action.ExecuteInClientSide">
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div class="b-notify notify-info mb-4">
                        <i class="codicon codicon-shield b-icon-2"></i>
                        <div class="text">
                            <h4 class="label">Important.</h4>
                            <p class="subtext">Server side actions have higher security and client side actions have
                                higher performance and flexibility.
                            </p>
                            <a href="#" class="card-link">More info</a>
                        </div>
                    </div>
                    <div ng-model="$.action.ActionType" class="b-required" required>
                        <div class="b-group mb-5" ng-if="value"
                            ng-repeat="(key,value) in $.actionTypes | filter: $.$scope.clientSideFilter | groupBy:'GroupName'">
                            <div class="group-header" data-bs-toggle="collapse"
                                data-bs-target="#grpActionType{{$.action.Id}}_{{$index}}">
                                <h3 class="group-label">
                                    <span class="group-icon">
                                        <i class="codicon codicon-server-process"></i>
                                    </span> {{key}}
                                </h3>
                                <span class="group-collapse">
                                    <i class="codicon codicon-chevron-up"></i>
                                </span>
                            </div>
                            <div id="grpActionType{{$.action.Id}}_{{$index}}" class="group-content collapse show">
                                <div class="row">
                                    <!--Select Action Subtype-->
                                    <div class="col"
                                        ng-repeat="actionType in value | toArray:false | orderBy:'ViewOrder'">
                                        <div class="card action-type" ng-click="$.onSelectActionTypeClick(actionType)"
                                            ng-class="{'selected':$.action.ActionType==actionType.ActionType}">
                                            <div class="card-body text-center">
                                                <img class="action-image" ng-src="{{actionType.Icon}}" />
                                                <h5 class="action-title">{{actionType.Title}}</h5>
                                                <p class="action-summary">{{actionType.Description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------------>
                <!--Wizard Step 2 (Action Basic Info)-->
                <!------------------------------------>
                <div ng-if="$.step==2" class="d-flex">
                    <div class="col-7 border-end b-splitter pe-5">
                        <!--Action Name-->
                        <div class="b-field">
                            <label class="form-label">Action Name</label>
                            <div class="b-input-group">
                                <input type="text" id="txtActionName{{$.action.Id}}" class="b-input form-control"
                                    ng-model="$.action.ActionName" placeholder="Enter action name" autocomplete="off"
                                    required />
                                <span><i class="codicon codicon-gear"></i></span>
                            </div>
                        </div>
                        <!--View Order-->
                        <div class="b-field">
                            <label class="form-label">View Order</label>
                            <div class="b-input-group">
                                <input type="number" ng-model="$.action.ViewOrder" class="b-input form-control b-input"
                                    placeholder="Enter view order" />
                                <span><i class="codicon codicon-fold"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col ps-5">
                        <!--Event-->
                        <div class="b-field">
                            <label class="form-label">Event</label>
                            <div class="b-input-group">
                                <select id="drpEvent{{$.action.Id}}" ng-model="$.action.Event"
                                    class="b-input form-select"
                                    ng-options="event.Value as event.Text for event in $.events"
                                    ng-change="onEventChange()" chosen inherit-select-classes="true"
                                    placeholder-text-single="'Select action event'" required>
                                    <option disabled></option>
                                </select>
                                <span><i class="codicon codicon-bookmark"></i></span>
                            </div>
                        </div>
                        <!--Parent Action-->
                        <div class="b-field" ng-if="$.action.Event == 'OnActionCompleted'">
                            <label class="form-label">Action</label>
                            <div id="drpParentId{{$.action.Id}}" class="b-input-group">
                                <select ng-model="$.action.ParentId" class="b-input form-select"
                                    ng-options="ac.Id as ac.ActionName for ac in $.actions" chosen
                                    inherit-select-classes="true" placeholder-text-single="'Select an action'" required>
                                    <option disabled></option>
                                </select>
                                <span><i class="codicon codicon-clippy"></i></span>
                            </div>
                        </div>
                        <!--Result Mode-->
                        <div class="b-field" ng-if="$.action.Event == 'OnActionCompleted'">
                            <label class="form-label">Result Mode</label>
                            <div class="b-input-group">
                                <select id="drpParentActionTriggerCondition{{$.action.Id}}"
                                    ng-model="$.action.ParentActionTriggerCondition" class="b-input form-select" chosen
                                    inherit-select-classes="true" placeholder-text-single="'Select action result mode'"
                                    required>
                                    <option disabled></option>
                                    <option ng-value="0">Always Execute</option>
                                    <option ng-value="1">Execute On Success</option>
                                    <option ng-value="2">Execute On Error</option>
                                </select>
                                <span><i class="codicon codicon-comment-discussion"></i></span>
                            </div>
                        </div>
                        <div class="b-notify notify-info mb-4">
                            <i class="codicon codicon-question b-icon-2"></i>
                            <div class="text">
                                <h4 class="label">Help.</h4>
                                <p class="subtext">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                                <a href="#" class="card-link">More info</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------------>
                <!--Wizard Step 3 (Action Builder)-->
                <!------------------------------------>
                <div ng-show="$.step==3">
                    <div id="pnlActionBuilder{{$.action.Id}}" class="action-builder"> </div>
                </div>
                <!------------------------------------>
                <!--Wizard Step 4 (Result & Consitions)-->
                <!------------------------------------>
                <div ng-if="$.step==4">
                    <div class="b-group mb-5">
                        <div class="group-header" data-bs-toggle="collapse"
                            data-bs-target="#grpActionResults{{$.action.Id}}">
                            <h3 class="group-label">
                                <span class="group-icon">
                                    <i class="codicon codicon-server-process"></i>
                                </span> Action Results
                            </h3>
                            <span class="group-collapse">
                                <i class="codicon codicon-chevron-up"></i>
                            </span>
                        </div>
                        <div id="grpActionResults{{$.action.Id}}" class="group-content collapse show">
                            <b-property-list ng-model="$.action.Results" data-objects="$.objects"></b-property-list>
                        </div>
                    </div>
                    <div class="b-group">
                        <div class="group-header" data-bs-toggle="collapse"
                            data-bs-target="#grpActionConditions{{$.action.Id}}">
                            <h3 class="group-label">
                                <span class="group-icon">
                                    <i class="codicon codicon-server-process"></i>
                                </span> Action Conditions
                            </h3>
                            <span class="group-collapse">
                                <i class="codicon codicon-chevron-up"></i>
                            </span>
                        </div>
                        <div id="grpActionConditions{{$.action.Id}}" class="group-content collapse show">
                            <div class="b-field" ng-if="!$.action.ExecuteInClientSide && !$.action.ParentId">
                                <label class="form-label">Preconditions(Checked on the client side)</label>
                                <div monaco-editor ng-model="$.action.Preconditions" ng-if="$.objects"
                                    data-language="bConditionalExpressions" data-height="100px" data-objects="$.objects"
                                    required>
                                </div>
                            </div>
                            <div class="b-field" ng-if="!$.action.ParentId">
                                <label class="form-label">Conditions</label>
                                <div monaco-editor ng-model="$.action.Conditions" ng-if="$.objects"
                                    data-language="bConditionalExpressions" data-height="100px" data-objects="$.objects"
                                    required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------------>
                <!--Wizard Step Action Buttons-->
                <!------------------------------------>
                <div class="d-flex mb-2 mt-auto b-splitter border-top pt-3 mb-4">
                    <div class="justify-content-start">
                        <button type="button" ng-if="$.action.Id" class="b-btn btn-text-icon btn-danger"
                            ng-click="$.onDeleteActionClick()" ng-disabled="$.running">
                            <i class="codicon codicon-trash"></i>
                            Remove Action
                        </button>
                    </div>
                    <div class="d-flex justify-content-end ms-auto">
                        <button type="button" class="b-btn btn-text-icon btn-action me-2" ng-if="$.step>1"
                            ng-click="$.onPrevStepClick()" ng-disabled="$.running">
                            <i class="codicon codicon-arrow-left"></i>
                            Previous
                        </button>
                        <button type="button" class="b-btn btn-text-icon me-2" ng-if="$.step<4"
                            ng-click="$.onNextStepClick()" ng-disabled="$.running">
                            Next
                            <i class="codicon codicon-arrow-right ms-2 me-0"></i>
                        </button>
                        <button type="button" class="b-btn btn-text-icon btn-submit me-2" ng-if="$.step>=3"
                            ng-click="$.onSaveActionClick()" ng-disabled="$.running">
                            <i class="codicon codicon-save"
                                ng-class="{'loading-circle mini':$.running=='save-action'}"></i>
                            Save Action
                        </button>
                        <button type="button" class="b-btn btn-text-icon btn-cancel" ng-click="$.onCancelActionClick()"
                            ng-disabled="$.running">
                            <i class="codicon codicon-circle-slash"></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>
</b-content-widget>
</div>