@if (global.scenario()!=null) {
<div class="business-engine-studio" data-bs-theme="dark">
  <!------------------------------------>
  <!--Begin Menu Bar-->
  <!------------------------------------>
  <div class="menu-bar"></div>
  <!------------------------------------>
  <!--End Menu Bar-->
  <!------------------------------------>

  <!------------------------------------>
  <!--Begin Activity Bar-->
  <!------------------------------------>
  <div class="activity-bar">
    <div class="top-actions">
      <ul class="actions-container">
        @for (bar of activityBars; track bar.name) {
        <li class="action-item" [ngClass]="{'active':bar.name===currentActivityBar}">
          <a class="action-label" pTooltip="{{bar.title}}" tooltipPosition="right"
            (click)="onActivityBarItemClick(bar.name)">
            <i class="codicon codicon-{{bar.icon}}"></i>
          </a>
        </li>
        }
      </ul>
    </div>
    <div class="user-actions">
      <ul class="actions-container">
        <li class="action-item" (click)="onClearChaceClick()">
          <a class="action-label" role="button" b-custom-tooltip data-bs-placement="right"
            title="Clear Chache & Inc Version">
            <i class="codicon codicon-issue-reopened" ng-class="{'spin':running=='clear-cache'}"></i>
          </a>
        </li>
        <li class="action-item">
          <a class="action-label" role="button" b-custom-tooltip data-bs-placement="right" title="Settings">
            <i class="codicon codicon-settings-gear"></i>
          </a>
        </li>
        <li class="action-item">
          <a class="action-label" href="/Default.aspx?tabid=[[returnUrl]]" role="button" b-custom-tooltip
            data-bs-placement="right" title="Return to the dnn page you came">
            <i class="codicon codicon-sign-in"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!------------------------------------>
  <!--End Activity Bar-->
  <!------------------------------------>

  <!------------------------------------>
  <!--Begin Side Bar-->
  <!------------------------------------>
  <div class="sidebar">
    <!------------------------------------>
    <!-- Sidebar Explorer Widget-->
    <!------------------------------------>
    @if (currentActivityBar=='explorer') {
    <sidebar-explorer [items]="explorerItems"></sidebar-explorer>
    }
  </div>
  <!------------------------------------>
  <!--End Side Bar-->
  <!------------------------------------>

  <!------------------------------------>
  <!--Begin Workspace Panel-->
  <!------------------------------------>
  <div class="workspace-panel">
    <!------------------------------------>
    <!--Top bar tabs-->
    <!------------------------------------>
    <div class="top-bar-tabs">
      <p-tabs [value]="currentTab">
        <p-tablist>
          @for (tab of tabs(); track tab.key; let i = $index) {
          <p-tab [value]="tab.key" [value]="tab.key" (click)="onTabClick(tab)">
            {{ tab.title }}
            <i class="codicon codicon-chrome-close close-icon" (click)="onCloseTabClick(tab.key)"></i>
          </p-tab>
          }
        </p-tablist>
      </p-tabs>
    </div>

    <!------------------------------------>
    <!-- Tabs Content-->
    <!------------------------------------>
    <div class="tab-content " id="workspaceTabsContent">
      <router-outlet />
    </div>
  </div>
  <!------------------------------------>
  <!--End Workspace Panel-->
  <!------------------------------------>

  <!------------------------------------>
  <!--Begin Status Bar-->
  <!------------------------------------>
  <div class="status-bar">
    <!-- موقت و نیاز به جابجایی  -->
    <!-- <b-widget-quick-input items="$rootScope.scenarios" item-Title="ScenarioTitle" item-Subtitle="ScenarioName" item-icon="archive" search-placeholder="Select a scenario"></b-widget-quick-input> -->

    <!-- <b-widget-quick-input items="$rootScope.scenarios" item-Title="ScenarioTitle" item-Subtitle="ScenarioName"
            item-icon="archive" search-placeholder="Select a scenario"></b-widget-quick-input> -->
    <div class="active-scenario">
      <span class="scenario-link small text-white d-flex justify-content-end me-2 pe-none"
        (click)="onSelectScenarioClick()">Scenario : [[$rootScope.scenario.ScenarioName]]</span>
    </div>
  </div>
  <!------------------------------------>
  <!--End Status Bar-->
  <!------------------------------------>

  <!------------------------------------>
  <!--Begin Notifications-->
  <!------------------------------------>
  <div id="bNotifications" class="notifications"> </div>
  <!------------------------------------>
  <!--End Notifications-->
  <!------------------------------------>

  <!------------------------------------>
  <!--Begin Select Scenario-->
  <!------------------------------------>
  <div id="wnSelectScenario" b-custom-modal class="modal fade b-modal-dark" tabindex="-1" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>
  <p-dialog header="Select Scenario" [modal]="true" [(visible)]="scenarioWindowVisible" [style]="{ width: '25rem' }">
    <div class="b-field">
      <label class="form-label">Scenario</label>
      <div class="b-input-group">
        <select ng-model="scenarioId" class="b-input form-select"
          ng-options="scenario.Id as scenario.ScenarioTitle for scenario in $rootScope.scenarios" ng-disabled="running"
          chosen inherit-select-classes="true" placeholder-text-single="'Select scenario'" required>
        </select>
        <span><i class="codicon codicon-activate-breakpoints"></i></span>
      </div>
    </div>
    <div class="b-field">
      <div class="flex justify-end gap-2">
        <button type="button" class="b-btn btn-action btn-sm me-auto" (click)="onAddScenarioClick()" b-custom-tooltip
          title="Add New Scenario" ng-disabled="running">
          <i class="codicon codicon-plus me-0"></i>
        </button>
        <button type="button" class="b-btn btn-text-icon btn-submit me-2" (click)="onSelectScenarioClick()"
          ng-disabled="running || !scenarioId">
          <i class="codicon codicon-save"></i>
          Select Scenario
        </button>
      </div>
    </div>
  </p-dialog>
  <!------------------------------------>
  <!--End Select Scenario-->
  <!------------------------------------>
</div>
}