<div class="d-flex">
    <div class="col-7 border-end b-splitter pe-3">
        <div class="b-field">
            <label class="form-label">Upload Label</label>
            <input type="text" ng-model="$.field.Settings.UploadLabel" class="b-input form-control" placeholder="Upload Label" />
        </div>
        <div class="mb-3 m-b-10">
            <label class="form-label">Allow Upload Multiple File</label>
            <label class="b-switch d-block">
                <input type="checkbox" hidden="hidden" ng-model="$.field.Settings.AllowUploadMultipleFile" />
                <div class="slider"></div>
            </label>
        </div>
        <div class="b-field" ng-if="$.field.Settings.AllowUploadMultipleFile">
            <label class="form-label">Max File Count</label>
            <input type="text" ng-model="$.field.Settings.MaxFileCount" class="b-input form-control" placeholder="Max File Count" />
        </div>
        <div class="b-field">
            <label class="form-label">Max File Length(KB)</label>
            <input type="text" ng-model="$.field.Settings.MaxFileLength" class="b-input form-control" placeholder="Max File Length" />
        </div>
    </div>
    <div class="col ps-3">
        <div class="mb-3 m-b-10">
            <label class="form-label">Resize Large Images</label>
            <label class="b-switch d-block">
                <input type="checkbox" hidden="hidden" ng-model="$.field.Settings.ResizeLargeImage" />
                <div class="slider"></div>
            </label>
        </div>
        <div class="b-field" ng-if="$.field.Settings.ResizeLargeImage">
            <label class="form-label">Resize Width</label>
            <input type="text" ng-model="$.field.Settings.LargeImageWidth" class="b-input form-control" placeholder="Width" />
        </div>
        <div class="b-field" ng-if="$.field.Settings.ResizeLargeImage">
            <label class="form-label">Resize Height(Auto Height = 0)</label>
            <input type="text" ng-model="$.field.Settings.LargeImageHeight" class="b-input form-control" placeholder="Height" />
        </div>
    </div>
</div>