<b-right-widget ng-if="$.workingMode=='field-conditional-values'" data-title="Conditional Value(s)"
    data-icon="notebook-template" data-subtitle="{{$.currentField.FieldName}} conditional value(s)"
    data-await-action="$.awaitAction" class="mb-edit-field visible" data-module="$">
    <div ng-repeat="item in $.currentField.FieldValues">
        <div class="b-field">
            <label class="form-label">Value Expression</label>
            <div monaco-editor ng-model="item.ValueExpression" data-language="bProperties" data-one-line="true"
                data-objects="$.objects" required>
            </div>
        </div>

    </div>
    <div class="b-field">
        <label class="form-label">Conditions</label>
        <b-condition-list ng-model="item.Conditions" data-source="['fields','form','variables','actionParams']"
            data-variables="variables" data-fields="fields" data-action-params="$.action.Params"></b-condition-list>
    </div>
    <div class="b-field">
        <button type="button" class="b-btn btn-sm btn-action ms-auto d-flex"
            ng-click="$.currentField.FieldValues.splice($index,1)">
            <i class="codicon codicon-trash me-0"></i>
        </button>
    </div>
    </div>
    <div class="b-field">
        <button type="button" class="b-btn btn-sm btn-action" ng-click="$.onAddFieldConditionalValueClick()">
            <i class="codicon codicon-plus me-0"></i>
        </button>
    </div>
    <hr class="mb-4" />
    <div class="mb-1 d-flex justify-content-end mt-auto">
        <button type="button" class="b-btn btn-text-icon btn-submit me-2" ng-click="$.onSaveFieldClick($event)"
            ng-disabled="$.running">
            <i class="codicon codicon-save" ng-class="{'loading-circle mini':$.running=='save-action'}"></i>
            Save
        </button>
        <button type="button" class="b-btn btn-text-icon btn-cancel" ng-click="$.onCloseWindowClick()"
            ng-disabled="$.running">
            <i class="codicon codicon-circle-slash"></i>
            Close
        </button>
    </div>
</b-right-widget>