<b-right-widget ng-if="$.workingMode=='field-show-conditions'" data-title="Show Conditions"
    data-icon="notebook-template" data-subtitle="{{$.currentField.FieldName}} show conditions"
    data-await-action="$.awaitAction" class="mb-edit-field visible" data-module="$">
    <b-condition-list ng-model="$.currentField.ShowConditions" data-objects="$.objects"></b-condition-list>
    <hr class="mb-4" />
    <div class="mb-1 d-flex justify-content-end mt-auto">
        <button type="button" class="b-btn btn-text-icon btn-submit me-2" ng-click="$.onSaveFieldClick($event)"
            ng-disabled="$.running">
            <i class="codicon codicon-save" ng-class="{'loading-circle mini':$.running=='save-action'}"></i>
            Save Conditions
        </button>
        <button type="button" class="b-btn btn-text-icon btn-cancel" ng-click="$.onCloseWindowClick()"
            ng-disabled="$.running">
            <i class="codicon codicon-circle-slash"></i>
            Close
        </button>
    </div>
</b-right-widget>