<div ng-controller="createDashboardBasicOptionsController as $" ng-class="{'was-validated':$.form.validated}">
    <b-content-widget data-title="Create Dashboard" data-icon="table" data-dashboard-type="create-dashboard"
        data-subtitle="Add or edit scenario dashboard" data-await-action="$.awaitAction" data-dashboard="$"
        data-reload-method="onPageLoad" data-close-method="onCloseWindow">
        <div class="d-flex">
            <!------------------------------------>
            <!--Dashboard Type Options-->
            <!------------------------------------>
            <div class="col-6 b-splitter border-end pe-5">
                <div class="b-field">
                    <label class="form-label">Scenario</label>
                    <div class="b-input-group">
                        <select id="drpScenarioId" ng-model="$.dashboard.ScenarioId" class="b-input form-select"
                            ng-options="scenario.Id as scenario.ScenarioTitle for scenario in $.$rootScope.scenarios"
                            ng-disabled="$.running" chosen inherit-select-classes="true"
                            placeholder-text-single="'Select form scenario'" required>
                        </select>
                        <span><i class="codicon codicon-activate-breakpoints"></i></span>
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">Dashboard Type</label>
                    <div class="b-input-group mb-2">
                        <select id="drpDashboardType" ng-model="$.dashboard.DashboardType" class="b-input form-select"
                            chosen inherit-select-classes="true" required>
                            <option value="" disabled>Select dashboard type</option>
                            <option ng-value="1">Standalone Panel</option>
                            <option ng-value="2">Dnn Dashboard</option>
                        </select>
                        <span><i class="codicon codicon-code"></i></span>
                    </div>
                    <div class="b-notify notify-small notify-note">
                        <i class="codicon codicon-layout-sidebar-right b-icon-2"></i>
                        <p class="text text-justify mb-0 pe-2 h4-rem overflow-y-scroll b-scrollbar">
                            You can have two types of dashboards. An independent dashboard on a full page, which is
                            usually suitable for management dashboards and is independent from the appearance and format
                            of the site's skin. It has better performance and it is much easier to debug possible
                            errors.
                            And the second dashboard, which is created inside one of the DNN pages, and is more suitable
                            for user dashboards that do not need to see a different appearance, or small dashboards that
                            have a small number of pages.
                        </p>
                    </div>
                </div>
                <div class="b-field" ng-if="$.dashboard.DashboardType==1">
                    <label class="form-label">Unique Name</label>
                    <div class="b-input-group mb-2">
                        <input type="text" id="txtUniqueName" ng-model="$.dashboard.UniqueName"
                            class="b-input form-control" placeholder="Enter unique name" autocomplete="off" required />
                        <span><i class="codicon codicon-gear"></i></span>
                    </div>
                    <div class="b-notify notify-small notify-note mb-2">
                        <i class="codicon codicon-telescope b-icon-2"></i>
                        <p class="text text-justify mb-0">
                            The value of this field for the dashboard must be unique in all dashboards of the site!.
                        </p>
                    </div>
                </div>

            </div>
            <!------------------------------------>
            <!--Dashboard Name Options-->
            <!------------------------------------>
            <div class="col ps-5">
                <div class="b-field">
                    <div class="b-notify notify-small notify-note mb-2">
                        <i class="codicon codicon-feedback b-icon-2"></i>
                        <p class="text text-justify mb-0">
                            <b>Very important note:</b>
                            Be careful in choosing the name of the dashboard because it is not possible to change the
                            name
                            of the dashboard after saving the dashboard.
                        </p>
                    </div>
                    <label class="form-label">Module Name</label>
                    <div class="d-flex mb-2">
                        <div class="col-7">
                            <div class=" b-input-group">
                                <input type="text" id="txtModuleName" ng-model="$.dashboard.ModuleName"
                                    class="b-input form-control" placeholder="Enter form name(like top examples)"
                                    autocomplete="off" required ng-disabled="$.dashboard.Id" />
                                <span><i class="codicon codicon-gear"></i></span>
                            </div>
                        </div>
                        <div class="col-3 ms-3">
                            <button type="button" class="b-btn btn-text-icon btn-green-lite h-100 ps-4 pe-4"
                                ng-click="$.validateModuleName()" ng-disabled="$.dashboard.Id || !$.dashboard.ModuleName">
                                <i class=" codicon codicon-go-to-search"></i>
                                Validate Name
                            </button>
                        </div>
                    </div>
                    <div ng-if="$.moduleNameIsValid==false">
                        <div class="b-notify notify-warning mb-2" ng-if="!$.moduleNameIsValidPattern">
                            <i class="codicon codicon-regex b-icon-2"></i>
                            <p class="text mb-0"> This name does not match with the pattern.</p>
                        </div>
                        <div class="b-notify notify-warning mb-2" ng-if="$.moduleNameIsExists">
                            <i class="codicon codicon-references b-icon-2"></i>
                            <p class="text mb-0"> this name is already exists on the database table.</p>
                        </div>
                        <div class="b-notify notify-warning mb-2"
                            ng-if="$.moduleNameIsValidPattern && !$.moduleNameIsExists">
                            <i class="codicon codicon-warning b-icon-2"></i>
                            <p class="text mb-0"> This name is not valid.</p>
                        </div>
                    </div>
                    <div class="b-notify notify-success mb-2" ng-if="$.moduleNameIsValid">
                        <i class="codicon codicon-check-all b-icon-2"></i>
                        <p class="text mb-0"> This name is valid.</p>
                    </div>
                    <div class="b-notify mb-2">
                        <i class="codicon codicon-info b-icon-1"></i>
                        <p class="subtext m-0">
                            <b>Example:</b> basic-form, login, user-profile-dashboard,...
                        </p>
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">Module Title</label>
                    <div class="b-input-group">
                        <input type="text" id="txtModuleTitle" ng-model="$.dashboard.ModuleTitle"
                            class="b-input form-control" placeholder="Enter form title" autocomplete="off" required />
                        <span><i class="codicon codicon-gear"></i></span>
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">Authorization View Dashboard</label>
                    <div class="b-input-group">
                        <select ng-model="$.dashboard.AuthorizationViewDashboard" class="b-input form-select"
                            ng-options="role for role in $.$rootScope.roles" chosen inherit-select-classes="true" multiple
                            placeholder-text-multiple="'Authorization run dashboard'"></select>
                        <span><i class="codicon codicon-bookmark"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mb-4" />
        <div class="d-flex mb-1">
            <!------------------------------------>
            <!--Action Buttons-->
            <!------------------------------------>
            <div class="justify-content-start">
                <!-- Previous Button -->
                <button type="button" class="b-btn btn-danger me-2" ng-click="$.onPreviousStepClick()"
                    ng-disabled="$.running">
                    <i class="codicon codicon-arrow-left me-0"></i>
                </button>
                <!-- Next Button -->
                <button type="button" class="b-btn btn-blue me-2" ng-click="$.onNextStepClick()"
                    ng-disabled="$.running">
                    <i class="codicon codicon-arrow-right me-0"></i>
                </button>
            </div>
            <div class="d-flex justify-content-end ms-auto">
                <button type="button" class="b-btn btn-text-icon btn-icon btn-submit me-2" ng-click="$.onSaveDashboardClick()"
                    ng-disabled="$.running">
                    <i class="codicon codicon-save" ng-class="{ 'loading-circle mini':$.running=='save-form' }"></i>
                    Save Dashboard
                </button>
                <button type="button" class="b-btn btn-text-icon btn-cancel" ng-click="$.onCancelDashboardClick()"
                    ng-disabled="$.running">
                    <i class="codicon codicon-circle-slash"></i>
                    Cancel
                </button>
            </div>
        </div>
    </b-content-widget>
</div>