.b-switch-button .b-switch .slider {
    background: var(--T--form-light-background-color);
}

.b-switch-button .b-switch .slider:before {
    background: gray;
}

.b-switch-button .b-switch .slider:after {
    background: transparent;
}

.b-switch-button .b-switch input:checked+.slider:before {
    background: var(--T--form-background-color);
}