.b-switch-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .9em;
}

.b-switch-button .b-switch {
    position: relative;
    display: flex;
    width: 3em;
    height: 1.5em;
}

.b-switch-button .b-switch input {
    display: none;
}

.b-switch-button .b-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5em;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.b-switch-button .b-switch .slider:before,
.b-switch-button .b-switch .slider:after {
    position: absolute;
    content: "";
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    left: 0.2em;
    bottom: 0.1em;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.b-switch-button .b-switch input:checked+.slider:before {
    -webkit-transform: translateX(1.3em);
    -moz-transform: translateX(1.3em);
    transform: translateX(1.3em);
}

.b-switch-button .b-switch input:checked+.slider:after {
    -webkit-transform: translateX(1.3em);
    -moz-transform: translateX(1.3em);
    transform: translateX(1.3em);
}