<div class="b-field">
    <label class="form-label">Placeholder</label>
    <div class="b-input-group">
        <input type="text" ng-model="$.currentField.Settings.Placeholder" class="b-input form-control"
            placeholder="Enter placeholder" />
        <span><i class="codicon codicon-symbol-string"></i></span>
    </div>
</div>
<div class="b-field">
    <label class="form-label">Incorrect Captcha Message</label>
    <div class="b-input-group">
        <input type="text" ng-model="$.currentField.Settings.IncorrectCaptchaMessage" class="b-input form-control"
            placeholder="Enter incorrect captcha Message" />
        <span><i class="codicon codicon-warning"></i></span>
    </div>
</div>