<div class="custom-styles">
    <div class="field-options" ng-if="$.customStyle.element=='Form'">
        <div class="field-item">
            <label class="form-label">Font Size</label>
            <input type="text" class="input-control" placeholder="Form Base size" data-b-custom-class="default-form-template"
                data-b-custom-var="--default-form-font-size" />
        </div>
        <div class="field-item">
            <label class="form-label">Color</label>
            <input type="text" class="input-control" placeholder="Color" data-b-custom-class="b-input-group"
                data-b-custom-var="--default-input-background-color" />
        </div>
        <div class="field-item">
            <label class="form-label">Padding</label>
            <div class="multiple-input">
                <input type="text" class="input-control" placeholder="Top" data-b-custom-class="b-input-group"
                    data-b-custom-var="--default-input-padding-top" />
                <input type="text" class="input-control" placeholder="Right" data-b-custom-class="b-input-group"
                    data-b-custom-var="--default-input-padding-right" />
                <input type="text" class="input-control" placeholder="Bottom" data-b-custom-class="b-input-group"
                    data-b-custom-var="--default-input-padding-bottom" />
                <input type="text" class="input-control" placeholder="Left" data-b-custom-class="b-input-group"
                    data-b-custom-var="--default-input-padding-left" />
            </div>
        </div>
    </div>
    <div class="field-options" ng-if="$.customStyle.element=='Textbox'">
        <div class="field-item">
            <label class="form-label">Font Size</label>
            <input type="text" class="input-control" placeholder="Fontsize" data-b-custom-class="b-input-group"
                data-b-custom-var="--default-input-font-size" />
        </div>
        <div class="field-item">
            <label class="form-label">Color</label>
            <input type="text" class="input-control" placeholder="Color" data-b-custom-class="b-input-group"
                data-b-custom-var="--default-input-background-color" />
        </div>
        <div class="field-item">
            <label class="form-label">Padding</label>
            <div class="multiple-input">
                <input type="text" class="input-control" placeholder="Top" data-b-custom-class="b-input-group"
                    data-b-custom-var="--default-input-padding-top" />
                <input type="text" class="input-control" placeholder="Right" data-b-custom-class="b-input-group"
                    data-b-custom-var="--default-input-padding-right" />
                <input type="text" class="input-control" placeholder="Bottom" data-b-custom-class="b-input-group"
                    data-b-custom-var="--default-input-padding-bottom" />
                <input type="text" class="input-control" placeholder="Left" data-b-custom-class="b-input-group"
                    data-b-custom-var="--default-input-padding-left" />
            </div>
        </div>
    </div>
</div>