<div class="nitro-I-dashboard-dnn">
    <div class="dashboard__sidebar">
        <div class="sidebar__topbox">
            <div class="user__section">
                <div class="user__profile__wrapper">
                    <img src="/DnnImageHandler.ashx?mode=profilepic&amp;userid={{User.UserID}}">
                </div>
                <h6 class="user__displayname" b-text="User.DisplayName"></h6>
            </div>
        </div>
        <div class="sidebar__menu" data-pane="SidebarMenu" data-pane-title="Sidebar Menu Pane"></div>
    </div>
    <div class="dashboard__content">
        <div class="content__pane" data-pane="ContentPane" data-pane-title="Content Pane"></div>
        [PAGE_MODULE]
    </div>
</div>