<div class="b__card__widget">
    <div class="card__header">
        <div class="card__header__info">
            <i class="page__icon [PAGE_ICON]"></i>
            <div class="page__title__wrapper">
                <h2 class="page__title">[PAGE_TITLE]</h2>
                <p class="page__desc">[PAGE_DESCRIPTION]</p>
            </div>
        </div>
        <div class="card__header__toolbar" data-pane="HeaderToolbarPane" data-pane-title="Header Toolbar Pane"></div>
    </div>
    <div class="card__body">
        <div class="b-row">
            <div class="b-col-7 b-col-split" data-pane="LeftPane" data-pane-title="Left Pane"></div>
            <div class="b-col-4" data-pane="RightPane" data-pane-title="Right Pane"></div>
        </div>
    </div>
    <div class="card__footer" data-pane="FooterPane" data-pane-title="Footer Pane"> </div>
</div>