<div class="b-field">
    <label class="form-label">Upload Label</label>
    <div class="b-input-group">
        <input type="text" ng-model="$.currentField.Settings.UploadLabel" class="b-input form-control"
            placeholder="Enter upload label" />
        <span><i class="codicon codicon-tag"></i></span>
    </div>
</div>
<div class="b-field">
    <label class="form-label">Allowed Content Types</label>
    <div class="b-input-group">
        <input type="text" ng-model="$.currentField.Settings.AllowedContentTypes" class="b-input form-control"
            placeholder="Enter allowed content types" />
        <span><i class="codicon codicon-files"></i></span>
    </div>
</div>
<div class="b-field">
    <div class="b-input-group">
        <label class="form-label">Max File Size(KB)</label>
        <input type="number" ng-model="$.currentField.Settings.MaxFileSize" class="b-input form-control"
            placeholder="Enter max file size default 5MB" />
        <span><i class="codicon codicon-maxlength"></i></span>
    </div>
</div>