<div ng-controller="moduleHtmlEditorController as $" id="mobule-builder-html{{$.module.ModuleId}}"
    class="module-builder-html-editor">
    <div class="tabs-container pb-3" ng-class="{'b-full-screen':$.IsEditorFullscreen}">
        <ul class="nav nav-tabs b-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#html{{$.module.ModuleId}}"
                    type="button" role="tab" aria-controls="html{{$.module.ModuleId}}" aria-selected="true"
                    data-tab="1">Html</button>
            </li>
            <li class="nav-item" role="presentation" ng-if="!$.module.IsDisabledFrontFramework">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#js{{$.module.ModuleId}}" type="button"
                    role="tab" aria-controls="js{{$.module.ModuleId}}" aria-selected="false"
                    data-tab="2">Javascript</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#css{{$.module.ModuleId}}" type="button"
                    role="tab" aria-controls="css{{$.module.ModuleId}}" aria-selected="false" data-tab="3">Css</button>
            </li>
            <li class="position-absolute end-0 m-3">
                <button type="button" ng-if="$.IsEditorFullscreen" class="b-btn btn-text-icon btn-action fullscreen-save-button"
                    ng-click="$.buildModule()">
                    <i class="codicon codicon-save"></i>
                    Save Module Codes
                </button>
                <i class="codicon"
                    ng-class="{'codicon-screen-full':!$.IsEditorFullscreen,'codicon-screen-normal':$.IsEditorFullscreen}"
                    ng-click="$.IsEditorFullscreen=!$.IsEditorFullscreen">
                </i>
            </li>
        </ul>
        <div class="tab-content p-0 mb-4">
            <div class="tab-pane fade show active" id="html{{$.module.ModuleId}}" role="tabpanel">
                <div monaco-editor ng-model="$.module.CustomHtml"
                    data-source="['fields','form','_b','variables','actionParams']" data-language="html"
                    data-height="100vh" required>
                </div>
            </div>
            <div class="tab-pane fade" id="js{{$.module.ModuleId}}" role="tabpanel"
                ng-if="!$.module.IsDisabledFrontFramework">
                <div monaco-editor ng-model="$.module.CustomJs"
                    data-source="['fields','form','_b','variables','actionParams']" data-language="javascript"
                    data-height="100vh" required>
                </div>
            </div>
            <div class="tab-pane fade" id="css{{$.module.ModuleId}}" role="tabpanel">
                <div monaco-editor ng-model="$.module.CustomCss"
                    data-source="['fields','form','_b','variables','actionParams']" data-language="css"
                    data-height="100vh" required>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="justify-content-end ms-auto me-3">
                <button type="button" class="b-btn btn-text-icon btn-submit me-2" ng-click="$.buildModule()" ng-disabled="$.running">
                    <i class="codicon codicon-save" ng-class="{'loading-circle mini':$.running=='save-module'}"></i>
                    Save Module
                </button>
            </div>
        </div>
    </div>
</div>


<!------------------------------------>
<!--Html Editor Buttons-->
<!------------------------------------>
<!-- <div class="b-btn-group" ng-if="$.module.ModuleBuilderType===1">
    <button type="button" class="b-btn btn-submit" ng-click="$.buildModule()">
        <i class="codicon codicon-save"></i>
        Save Module
    </button>
    <button type="button" class="b-btn btn-submit dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
        aria-expanded="false"></button>
    <div class="dropdown-menu b-dropdown-menu">
        <a class="dropdown-item" href="" ng-click="$.onGotoModuleResourcesClick()">
            <i class="codicon codicon-library me-2"></i> Goto Module Resources
        </a>
        <a class="dropdown-item" target="_blank" ng-href="{{$.moduleViewLinkUrl}}">
            <i class="codicon codicon-output me-2"></i> Show Module Output
        </a>
        <a class="dropdown-item" target="_blank" ng-click="$.onClearCache()" b-custom-tooltip data-bs-placement="bottom"
            title="Clear dnn cache and Add host crm version">
            <i class="codicon codicon-issue-reopened me-2"></i> Clear Cache & Add Version
        </a>
    </div>
</div> -->