<div ng-controller="createModuleBasicOptionsController as $" ng-class="{'was-validated':$.form.validated}">
    <b-content-widget data-title="Basic Options" data-icon="archive" data-module-type="create-module"
        data-subtitle="Create module - basic options" data-await-action="$.awaitAction" data-module="$"
        extra-icon1="codicon codicon-git-stash-pop" extra-icon1-title="Export Module"
        extra-icon1-method="onShowExportModuleWinClick" extra-icon2="codicon codicon-git-stash"
        extra-icon2-title="Import Module" extra-icon2-method="onShowImportModuleWinClick">
        <div class="d-flex">
            <!------------------------------------>
            <!--Module Type Options-->
            <!------------------------------------>
            <div class="col-6 b-splitter border-end pe-5">
                <div class="b-field">
                    <label class="form-label">Scenario</label>
                    <div class="b-input-group">
                        <select id="drpScenarioId" ng-model="$.module.ScenarioId" class="b-input form-select"
                            ng-options="scenario.Id as scenario.ScenarioTitle for scenario in $.$rootScope.scenarios"
                            chosen inherit-select-classes="true" placeholder-text-single="'Select module scenario'"
                            ng-disabled="true" required>
                        </select>
                        <span><i class="codicon codicon-activate-breakpoints"></i></span>
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">Module Type</label>
                    <select id="drpModuleType" ng-model="$.module.ModuleType" class="b-input form-select"
                        ng-disabled="$.running" chosen inherit-select-classes="true"
                        placeholder-text-single="'Select module type'" required>
                        <option ng-value="1">Form</option>
                        <option ng-value="2">List</option>
                        <option ng-value="3">Details</option>
                    </select>
                </div>
                <div class="b-field">
                    <label class="form-label d-block">Is SSR</label>
                    <label class="b-switch">
                        <input type="checkbox" ng-model="$.module.IsSSR">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <!------------------------------------>
            <!--Module Name Options-->
            <!------------------------------------>
            <div class="col ps-5">
                <div class="b-field">
                    <label class="form-label">Module Name</label>
                    <div class=" b-input-group">
                        <input type="text" id="txtModuleName" ng-model="$.module.ModuleName"
                            class="b-input form-control" placeholder="Enter form name(like top examples)"
                            autocomplete="off" required />
                        <span><i class="codicon codicon-gear"></i></span>
                    </div>
                    <div ng-if="$.module.ModuleName && $.module.error.ModuleName">
                        <p class="b-invalid">{{$.form.error.ModuleName}}</p>
                        <button type="button" class="b-btn btn btn-action" ng-click="$.onSetModuleValidNameClick()"
                            ng-disabled="$.running">
                            Set Valid Name
                        </button>
                    </div>
                </div>
                <div class="b-field">
                    <label class="form-label">Module Title</label>
                    <div class="b-input-group">
                        <input type="text" id="txtModuleTitle" ng-model="$.module.ModuleTitle"
                            class="b-input form-control" placeholder="Enter form title" autocomplete="off" required />
                        <span><i class="codicon codicon-gear"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mb-4" />
        <div class="d-flex mb-1">
            <div class="justify-content-start">
                <!-- Previous Button -->
                <button type="button" class="b-btn btn-danger me-2" ng-click="$.onPreviousStepClick()"
                    ng-disabled="$.running">
                    <i class="codicon codicon-arrow-left me-0"></i>
                </button>
                <!-- Next Button -->
                <button type="button" class="b-btn btn-blue me-2" ng-click="$.onNextStepClick()"
                    ng-disabled="$.running || !$.module.Id">
                    <i class="codicon codicon-arrow-right me-0"></i>
                </button>
            </div>
            <div class="d-flex justify-content-end ms-auto">
                <button type="button" class="b-btn btn-text-icon btn-text-icon btn-submit me-2"
                    ng-click="$.onSaveModuleClick()" ng-disabled="$.running">
                    <i class="codicon codicon-save" ng-class="{ 'loading-circle mini':$.running=='save-form' }"></i>
                    Save Module
                </button>
                <button type="button" class="b-btn btn-text-icon btn-text-icon btn-cancel"
                    ng-click="$.onCancelModuleClick()" ng-disabled="$.running">
                    <i class="codicon codicon-circle-slash"></i>
                    Cancel
                </button>
            </div>
        </div>
    </b-content-widget>

    <!------------------------------------>
    <!--Export Module-->
    <!------------------------------------>
    <b-right-widget ng-if="$.workingMode=='export-module'" data-title="Export scenario" data-icon="git-stash-pop"
        data-subtitle="export scenario components(Entities,Services,Actions,Modules,...)"
        data-await-action="$.awaitAction" class="b-export-scenario" data-module="$" data-reload-method="onPageLoad"
        data-close-method="onCloseWindow">
        <div class="export-scenario">
            <div class="b-field">
                <label class="form-label">Package Type</label>
                <div class="b-input-group">
                    <label class="b-input form-control">Scenario Full Components</label>
                    <span><i class="codicon codicon-git-stash-pop"></i></span>
                </div>
            </div>
            <div class="b-field">
                <label class="form-label">Package Name</label>
                <div class="b-input-group">
                    <label class="b-input form-control">{{$.export.PackageName}}</label>
                    <span><i class="codicon codicon-git-stash-pop"></i></span>
                </div>
            </div>
            <div class="b-field">
                <label class="form-label">Package Version</label>
                <div class="b-input-group">
                    <input type="text" ng-model="$.export.PackageVersion" class="b-input form-control"
                        placeholder="Enter package version pattern: xx.xx.xx" autocomplete="off" required />
                    <span><i class="codicon codicon-versions"></i></span>
                </div>
                <p class="b-invalid">{{$.form.error.PackageVersion}}</p>
            </div>
            <div class="b-field">
                <label class="form-label">Description</label>
                <div class="b-input-group">
                    <textarea rows="3" ng-model="$.export.Description" class="b-input form-control"
                        placeholder="Enter package description"></textarea>
                    <span><i class="codicon codicon-code-oss"></i></span>
                </div>
            </div>
            <!------------------------------------>
            <!--Buttons-->
            <!------------------------------------>
            <hr class="mb-4" />
            <div class="mb-1 d-flex">
                <button type="button" class="b-btn btn-text-icon me-2" ng-click="$.onExportModuleClick()"
                    ng-disabled="$.running">
                    <i class="codicon codicon-git-stash-pop"></i>
                    Export
                </button>
                <button type="button" class="b-btn btn-text-icon btn-cancel" ng-click="$.onCancelExportModuleClick()"
                    ng-disabled="$.running">
                    <i class="codicon codicon-circle-slash"></i>
                    Close
                </button>
            </div>
        </div>
    </b-right-widget>

    <!------------------------------------>
    <!--Import Module->
    <!------------------------------------>
    <b-right-widget ng-if="$.workingMode=='import-module'" data-title="Import Module" data-icon="git-stash-pop"
        data-subtitle="import module components(Module,Variables,Resources,Fields,...)"
        data-await-action="$.awaitAction" class="b-import-scenario" data-module="$" data-reload-method="onPageLoad"
        data-close-method="onCloseWindow">
        <div class="import-scenario">
            <div class="b-field">
                <label class="form-label">Package Type</label>
                <div class="b-input-group">
                    <label class="b-input form-control">Module</label>
                    <span><i class="codicon codicon-git-stash-pop"></i></span>
                </div>
            </div>
            <div class="b-field">
                <label class="form-label">Module Name</label>
                <div class=" b-input-group">
                    <input type="text" id="txtImportModuleName" ng-model="$.importParam.ModuleName"
                        class="b-input form-control" placeholder="Enter module name" autocomplete="off" required />
                    <span><i class="codicon codicon-gear"></i></span>
                </div>
                <div ng-if="$.module.ModuleName && $.module.error.ModuleName">
                    <p class="b-invalid">{{$.form.error.ModuleName}}</p>
                    <button type="button" class="b-btn btn btn-action" ng-click="$.onSetModuleValidNameClick()"
                        ng-disabled="$.running">
                        Set Valid Name
                    </button>
                </div>
            </div>
            <div class="b-field">
                <label class="form-label">Module Title</label>
                <div class=" b-input-group">
                    <input type="text" id="txtImportModuleTitle" ng-model="$.importParam.ModuleTitle"
                        class="b-input form-control" placeholder="Enter module name" autocomplete="off" required />
                    <span><i class="codicon codicon-gear"></i></span>
                </div>
            </div>
            <div class="b-field" ng-if="$.module.Id">
                <label class="form-label d-block">Delete Module Before Import</label>
                <label class="b-switch">
                    <input type="checkbox" ng-model="$.importParam.DeleteModuleBeforeImport">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="b-field">
                <label class="form-label">Import File</label>
                <div class="b-input-group">
                    <input type="file" class="b-input form-control" accept=".zip"
                        ngf-select="$.onImportModuleFileUploadChange($file, $invalidFiles)" ngf-max-size="103809024"
                        ngf-fix-orientation="true" />
                    <span><i class="codicon codicon-git-stash-pop"></i></span>
                </div>
            </div>
            <!------------------------------------>
            <!--Buttons-->
            <!------------------------------------>
            <hr class="mb-4" />
            <div class="mb-1 d-flex">
                <button type="button" class="b-btn btn-text-icon me-2" ng-click="$.onImportModuleClick()"
                    ng-disabled="$.running">
                    <i class="codicon codicon-git-stash"></i>
                    Import
                </button>
                <button type="button" class="b-btn btn-text-icon btn-cancel" ng-click="$.onCancelImportModuleClick()"
                    ng-disabled="$.running">
                    <i class="codicon codicon-circle-slash"></i>
                    Close
                </button>
            </div>
        </div>
    </b-right-widget>
</div>