<div class="d-flex b-field-validation-component">
    <span class="text-danger me-2">{{$.text}}</span>
    <div class="dropdown" ng-if="$.showExample">
        <a href="" class="dropdown-toggle text-info bg-dark" data-bs-toggle="dropdown" aria-expanded="false">
            Valid Sample
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>