<div class="d-flex">
    <div class="col-7 border-end b-splitter pe-3">
        <div class="b-field">
            <label class="form-label">Value Field</label>
            <input type="text" ng-model="$.field.Settings.DataSource.ValueField" class="b-input form-control" />
        </div>
        <div class="b-field">
            <label class="form-label">Text Field</label>
            <input type="text" ng-model="$.field.Settings.DataSource.TextField" class="b-input form-control" />
        </div>
    </div>
    <div class="col ps-3">
        <div class="b-field">
            <label class="form-label">Css Class</label>
            <input type="text" ng-model="$.field.Settings.RadioButtonListCssClass" class="b-input form-control" />
        </div>
    </div>
</div>