<div class="d-flex">
    <div class="col-7 border-end b-splitter pe-3">
        <div class="b-field">
            <label class="form-label">Radio List Display Type</label>
            <div class="b-radio-list-inline">
                <div class="radio-item">
                    <input type="radio" id="inlineListDisplayType" name="radioListDisplayType" value="radio-inline-list"
                        ng-model="$.currentField.Settings.RadioListDisplayType">
                    <label for="inlineListDisplayType">Inline</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="perlineListDisplayType" name="radioListDisplayType"
                        value="radio-perline-list" ng-model="$.currentField.Settings.RadioListDisplayType">
                    <label for="perlineListDisplayType">Perline</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col ps-3">
    </div>
</div>