.b-form {
    background: var(--b-form-background);
    border: var(--b-form-border);
    color: var(--b-form-color);
    padding: var(--b-form-padding);
    margin: var(--b-form-margin);
    direction: var(--b-form-direction);
    line-height: var(--b-form-line-height);
}

.b-field-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.b-field-wrapper .b-field-label {
    display: block;
    font-size: 1em;
    margin-bottom: .8em;
}

.b-field-wrapper .b-field {
    position: relative;
}

.light-small {
    font-size: 14px;
    --b-form-background: #f8f8f8;
    --b-form-color: #333;
    --b-form-padding: .8em;
    --b-form-margin: 0;
    --b-form-direction: ltr;
    --b-form-line-height: .8em;
}

.light-default {
    font-size: 16px;
    --b-form-background: #f8f8f8;
    --b-form-color: #333;
    --b-form-padding: 1em;
    --b-form-margin: 0;
    --b-form-direction: ltr;
    --b-form-line-height: 1.1em;
}

.light-large {
    font-size: 19px;
    --b-form-background: #f8f8f8;
    --b-form-color: #333;
    --b-form-padding: 1.3em;
    --b-form-margin: 0;
    --b-form-direction: ltr;
    --b-form-line-height: 1.6em;
}

.dark-small {
    font-size: 14px;
    --b-form-background:#333;
    --b-form-color:  #f8f8f8;
    --b-form-padding: .8em;
    --b-form-margin: 0;
    --b-form-direction: ltr;
    --b-form-line-height: .8em;
}

.dark-default {
    font-size: 16px;
    --b-form-background:#333;
    --b-form-color:  #f8f8f8;
    --b-form-padding: 1em;
    --b-form-margin: 0;
    --b-form-direction: ltr;
    --b-form-line-height: 1.1em;
}

.dark-large {
    font-size: 19px;
    --b-form-background:#333;
    --b-form-color:  #f8f8f8;
    --b-form-padding: 1.3em;
    --b-form-margin: 0;
    --b-form-direction: ltr;
    --b-form-line-height: 1.6em;
}