<b-right-widget ng-if="$.workingMode=='module-template'" data-title="Module Template/Theme" data-icon="symbol-color"
    data-subtitle="Select template & theme for dashboard modules" data-await-action="$.awaitAction" data-module="$"
    ng-class="{'was-validated':$.form.validated}" data-reload-method="onReloadSkinsClick">
    <!------------------------------------>
    <!--Module Templates-->
    <!------------------------------------>
    <ul class="dashboard-submodule-template">
        <li class="template-item" ng-repeat="template in $.templates"
            ng-class="{'active':$.module.Template==template.TemplateName,'validate-error':$.form.error.Template}"
            ng-click="$.onGetTemplateContent(template)">
            <div class="image-wrapper">
                <img ng-src="{{template.TemplateImage}}" />
            </div>
            <h6 class="template-name">{{template.Title}}</h6>
            <p class="template-description">{{template.Description}}</p>
        </li>
    </ul>
    <hr class="mb-4" />
    <div class="mb-1 d-flex justify-content-end mt-auto">
        <button type="button" class="b-btn btn-text-icon btn-submit me-2" ng-click="$.onSaveModuleTemplateClick()"
            ng-disabled="$.running">
            <i class="codicon codicon-save" ng-class="{'loading-circle mini':$.running=='save-action'}"></i>
            Save
        </button>
        <button type="button" class="b-btn btn-text-icon btn-cancel" ng-click="$.onCancelModuleTemplateClick()"
            ng-disabled="$.running">
            <i class="codicon codicon-circle-slash"></i>
            Cancel
        </button>
    </div>
</b-right-widget>

<!-- Modal -->
<div class="modal fade" id="templatePreview" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Template Preview</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <h2 class="b-btn w-100 text-center d-block">Current Layout Template</h2>
                        <div monaco-editor ng-model="$.module.LayoutTemplate" data-language="html" data-height="450px"
                            read-only="true">
                        </div>
                    </div>
                    <div class="col-6">
                        <h2 class="b-btn btn-green w-100 text-center d-block">Selected Template</h2>
                        <div monaco-editor ng-model="$.template.templatePreview" data-language="html"
                            data-height="450px" read-only="true">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="b-btn btn-submit" ng-click="$.onApplyTemplateClick()">Apply
                        Template
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>