<div class="nitro-I-dashboard">
    <div class="nad___header">
        <div class="nad___row nad___sticky">
            <div class="d-logo" data-pane="DesktopLogoPane" data-pane-title="Desktop Logo Pane"></div>
            <div class="d-toolbar" data-pane="ToolbarPane" data-pane-title="Toolbar Pane"></div>
            <div class="d-live-log" data-pane="LivePane" data-pane-title="Live Pane"></div>
            <div class="d-user" data-pane="UserPane" data-pane-title="User Pane"></div>
        </div>
        <div class="nad___subheader">
            <div class="nad___row" data-pane="SubHeaderPane" data-pane-title="Sub Header Pane"></div>
        </div>
    </div>
    <div class="nad___sidebar" data-pane="SidebarMenuPane" data-pane-title="Sidebar Menu Pane"></div>
    <div class="nad___content" id="dashboardPageModule"></div>
    <div class="nad___footer" data-pane="FooterPane" data-pane-title="Footer Pane"></div>
</div>