body {
    background-color: lightgray;
    overflow-x: hidden;
    direction: rtl;
}

.nitro-a-dashboard {
    margin: 0;
    padding: 0;
    --icon-top: 0.5rem;
}

.nad___header {
    position: fixed;
    width: 100%;
    height: 3.6rem;
    top: 0;
    left: 0;
    z-index: 99;
}

.nad___header>.nad___row {
    background-color: #282828;
    padding: 0.3rem 0.6rem;
    border-bottom: solid 0.1rem #202020;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.nad___header .d-logo {
    display: flex;
    padding: 0.2rem;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #eee;
    font-size: 1.2rem;
    align-items: center;
    width: 16.7rem;
    padding-bottom: 0.8rem;
    height: calc(100% - 0.4rem);
}

.nad___header .d-logo:before {
    margin-top: 0.5rem;
    margin-left: 0.4rem;
    content: "Logo";
    text-align: center;
    width: 100%;
    letter-spacing: 0.6rem;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 1.8rem;
    color: #3e3e3e;
    box-shadow: rgb(49 64 82 / 30%) 0px 0px 0px 3px;
    text-shadow: 0.1em 0.1em 0 hsl(200deg 32.57% 7.13%);
}

.nad___header .d-logo>img {
    max-width: 15rem;
    object-fit: contain;
}

.nad___header .d-logo>i {
    margin-left: 0.7rem;
    font-size: 1.5rem;
    display: flex;
    align-self: flex-start;
}

.nad___header .d-search-box {
    display: flex;
    width: 44%;
    height: 2.4rem;
    margin-right: 16.7rem;
    border-left: solid 0.1rem #333;
}

.nad___header .d-toolbar {
    display: flex;
    border-right: solid 0.1rem #222;
    border-left: solid 0.15rem #333;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: auto;
    align-items: center;
    padding: 0 0.3rem;
}

.nad___header .d-toolbar>.nad___nobg {
    display: flex;
    font-size: 1.3rem;
    color: #d1d5d8;
    margin-left: 0.4rem;
    text-decoration: none;
    padding: 0.6rem;
}

.nad___header .d-toolbar>.nad___nobg:hover {
    background-color: #75767752;
    border-radius: 0.475rem;
    cursor: pointer;
}

.nad___header .d-toolbar>.nad___nobg:last-child {
    margin: 0;
}

.nad___header .d-toolbar>.nad___nobg i {
    display: flex;
}

.nad___header .d-user {
    display: flex;
    border-right: solid 0.1rem #222;
    padding-left: 2rem;
    width: 12rem;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 1rem;
}

.nad___header .d-user .image___wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 0.475rem;
    width: 3rem;
    height: 3rem;
    margin-left: 0.4rem;
}

.nad___header .d-user .image___wrapper>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nad___header .d-user .user-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.nad___header .d-user .user-wrapper .user-info {
    color: #d1d5d8;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(100% - 3.4rem);
}

.nad___header .d-user .user-wrapper .user-info .user-name {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nad___header .d-user .user-wrapper .user-info .user-role {
    display: flex;
    font-size: 0.9rem;
    opacity: 0.8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nad___body {
    margin-right: 17rem;
    background-color: #f5f8fa;
    min-height: calc(100vh - 3.9rem);
    margin-top: 3.7rem;
}

.nad___subheader {
    margin-right: 17rem;
    border-top: solid 0.1rem #721212;
    background-color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 4.95px 12.6px;
    border-bottom: solid 0.1rem #ccc;
    height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-right: 1.2rem;
}

.nad___subheader .breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 0.9rem;
}

.nad___body .dashboard-body {
    padding: 2rem 1.8rem;
}

.nad___subheader .breadcrumbs .home-link>i {
    align-self: baseline;
    margin-left: 0.2rem;
}

.nad___subheader .breadcrumbs .link>i {
    display: flex;
    font-size: 1rem;
}

.nad___subheader .d-live-log {
    position: relative;
    color: #d1d5d8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 40rem;
    margin-right: auto;
}

.nad___subheader .d-live-log .live-icon {
    margin-left: 0.9rem;
    font-size: 1.3rem;
    display: flex;
    align-items: flex-end;
}

.nad___subheader .d-live-log .live-icon i {
    display: inline-flex;
}

.nad___subheader .d-live-log .live-icon .pulse___ring {
    border-color: #e4e6ef;
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    height: 2.5rem;
    width: 2.5rem;
}

.nad___subheader .d-live-log .broadcast-text {
    color: #c1af17;
    font-size: 0.8rem;
    margin: 0;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
}

.nad___sidebar {
    background-color: #282828;
    color: #fff;
    position: fixed;
    right: 0;
    top: 3.6rem;
    width: 17rem;
    height: calc(100vh - 3.6rem);
    z-index: 99;
    padding-top: 1rem;
    border-top: solid 0.1rem #666;
}

.nad___sidebar:before {
    content: "";
    background: linear-gradient(#282828, transparent);
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    height: 3rem;
    z-index: 9;
}

.nad___sidebar:after {
    content: "";
    background-image: linear-gradient(45deg, #ff5722 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ff5722 75%), linear-gradient(45deg, transparent 75%, #ff5722 75%), linear-gradient(45deg, #ff5722 25%, #282828 25%);
    background-size: 3.3rem 3.3rem;
    background-position: 0 0, 0 0, -25px -25px, 25px 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    opacity: 0.6;
    z-index: 8;
}

.nad___content {
    margin-right: 17rem;
    min-height: calc(100vh - 3.9rem);
    margin-top: 7rem;
    background-color: lightgray;
    padding: 1.5rem;
    height: 100vh;
    overflow: auto;
    --scrollbarBG: rgb(37, 37, 38);
    --thumbBG: #59595a;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.nad___content::-webkit-scrollbar {
    width: 0.7rem;
}

.nad___content::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.nad___content::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
}

ul.breadcrumb {
    margin: 0;
    color: #1e2366;
    font-weight: 500;
}

.loading-module-wrapper {
    background-image: url(../../../assets/images/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 10rem;
    left: calc(50% - 10rem);
    z-index: 9999;
    width: 20rem;
    height: 10rem;
}