<div class="b-grid-responsive">
    <table class="b-grid-table">
        <thead class="g-header">
            <tr class="g-header-row">
                <th ng-repeat="column in [FIELD].Settings.Columns | orderBy:'ViewOrder'"
                    class="g-header-column {{column.ColumnCss}}" ng-bind-html="column.Title"></th>
            </tr>
        </thead>
        <tbody class="g-body">
            <tr ng-repeat="row in [FIELD].DataSource.Items" class="g-body-row" ng-class="{'g-row-even':$even}">
                <td ng-repeat="column in [FIELD].Settings.Columns | orderBy:'ViewOrder'"
                    class="g-body-column {{column.ColumnCss}}">
                    <b-grid-row-item module="moduleController" row="row" column="column"></b-grid-row-item>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr ng-if="[FIELD].Settings.EnablePaging">
                <th colspan="[[Settings.Columns.length]]">
                    <ul id="bGridPaging[FIELDID]"></ul>
                </th>
            </tr>
        </tfoot>
    </table>
</div>