<div class="b-upload-file [[ThemeCssClass]]">
    <input type="file" class="form-control" ng-multiple="[[Settings.AllowUploadMultipleFile]]" multiple
        ngf-select="bUploadFile_onUploadFile([FIELD],$files,$file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
        ngf-max-files="[[Settings.MaxFileCount??1]]" ngf-max-size="[[Settings.MaxFileLength??31457280]]" />

    <table ng-if="[FIELD].Value" class="table table-bordered table-condensed table-columns-vmiddle mt-2">
        <thead>
            <tr>
                <th style="width: 30px; padding: 10px;"></th>
                <th>Filename</th>
                <th>File Type</th>
                <th>Size</th>
                <th>Is Uploaded</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="file in [FIELD].Value track by $index" ng-class="{'bg-danger':file.IsError}">
                <td class="text-center">
                    <i ng-if="file.IsError" class="zmdi zmdi-close text-danger f-30"></i>
                    <i ng-if="file.IsUploaded" class="zmdi zmdi-check text-success f-30"></i>
                </td>
                <td>
                    <a ng-href="{{file.FilePath}}" target="_blank">{{file.FileName}}</a>
                </td>
                <td>{{file.FileType}}</td>
                <td>{{file.FileSize}}</td>
                <td>{{file.IsUploaded}}</td>
                <td>{{file.Message}}</td>
                <td class="text-center">
                    <button type="button" class="upload-remove-icon" ng-click="bUploadFile_onRemoveFile([FIELD],$index)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>