<div class="b-field">
    <label class="form-label">Upload Label</label>
    <div class="b-input-group">
        <input type="text" ng-model="$.currentField.Settings.UploadLabel" class="b-input form-control"
            placeholder="Enter upload label" />
        <span><i class="codicon codicon-tag"></i></span>
    </div>
</div>
<div class="b-field">
    <label class="form-label">Allowed Content Types</label>
    <div class="b-input-group">
        <input type="text" ng-model="$.currentField.Settings.AllowedContentTypes" class="b-input form-control"
            placeholder="Enter allowed content types" />
        <span><i class="codicon codicon-file-binary"></i></span>
    </div>
</div>
<div class="b-field">
    <label class="form-label">Max File Size(KB)</label>
    <div class="b-input-group">
        <input type="number" ng-model="$.currentField.Settings.MaxFileSize" class="b-input form-control"
            placeholder="Enter max file size default 5MB" />
        <span><i class="codicon codicon-package"></i></span>
    </div>
</div>
<div class="b-field">
    <label class="form-label">Min Width(px)</label>
    <div class="b-input-group">
        <input type="number" ng-model="$.currentField.Settings.MinWidth" class="b-input form-control"
            placeholder="Enter min width default 50px" />
        <span><i class="codicon codicon-arrow-left"></i></span>
    </div>
</div>
<div class="b-field">
    <label class="form-label">Max Width(px)</label>
    <div class="b-input-group">
        <input type="number" ng-model="$.currentField.Settings.MaxWidth" class="b-input form-control"
            placeholder="Enter max width default 2000px" />
        <span><i class="codicon codicon-arrow-right"></i></span>
    </div>
</div>
<div class="b-field">
    <label class="form-label">Min Height(px)</label>
    <div class="b-input-group">
        <input type="number" ng-model="$.currentField.Settings.MinHeight" class="b-input form-control"
            placeholder="Enter min height default 50px" />
        <span><i class="codicon codicon-arrow-up"></i></span>
    </div>
</div>
<div class="b-field">
    <label class="form-label">Max Height(px)</label>
    <div class="b-input-group">
        <input type="number" ng-model="$.currentField.Settings.MaxHeight" class="b-input form-control"
            placeholder="Enter max height default 2000px" />
        <span><i class="codicon codicon-arrow-down"></i></span>
    </div>
</div>