<div class="b-field">
    <label class="form-label">Show Label</label>
    <label class="b-switch d-block">
        <input type="checkbox" hidden="hidden" ng-model="$.currentField.Settings.ShowLabel" />
        <div class="slider"></div>
    </label>
</div>
<div class="b-field" ng-if="$.currentField.Settings.ShowLabel">
    <label class="form-label">Label Text</label>
    <input type="text" ng-model="$.currentField.Settings.LabelText" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">Treat False As Null</label>
    <label class="b-switch d-block">
        <input type="checkbox" hidden="hidden" ng-model="$.currentField.Settings.SetNullForFalse" />
        <div class="slider"></div>
    </label>
</div>